<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Administration Exprim-U</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

            <!-- favicon
		============================================ -->
        <link rel="shortcut icon" href="../static/images/logo-1.png" th:href="@{/images/logo-1.png}" type="image/x-icon">    
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
    <!-- Bootstrap CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
    <!-- owl.carousel CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
        <link rel="stylesheet" href="../static/css/owl.theme.css" th:href="@{/css/owl.theme.css}">
        <link rel="stylesheet" href="../static/css/owl.transitions.css" th:href="@{/css/owl.transitions.css}">
    <!-- meanmenu CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/meanmenu/meanmenu.min.css" th:href="@{/css/meanmenu/meanmenu.min.css}">    
    <!-- animate CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
    <!-- normalize CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
    <!-- mCustomScrollbar CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/scrollbar/jquery.mCustomScrollbar.min.css" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
    <!-- jvectormap CSS
        ============================================ -->
        <link rel="stylesheet" href="../static/css/jvectormap/jquery-jvectormap-2.0.3.css" th:href="@{/css/jvectormap/jquery-jvectormap-2.0.3.css}">
    <!-- notika icon CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/notika-custom-icon.css" th:href="@{/css/notika-custom-icon.css}">
    <!-- wave CSS
        ============================================ -->
        <link rel="stylesheet" href="../static/css/wave/waves.min.css" th:href="@{/css/wave/waves.min.css}">
        <link rel="stylesheet" href="../static/css/wave/button.css" th:href="@{/css/wave/button.css}">
    <!-- main CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/mainBackOffice.css" th:href="@{/css/mainBackOffice.css}">
   <!-- Data Table JS
            ============================================ -->
            <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}">
    <!-- style CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/styleBackOffice.css" th:href="@{/css/styleBackOffice.css}">
    <!-- responsive CSS
		============================================ -->
        <link rel="stylesheet" href="../static/css/bootstrap/responsiveBackOffice.css" th:href="@{/css/bootstrap/responsiveBackOffice.css}">
    <!-- modernizr JS
		============================================ -->
        <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    </head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
						<a  th:href="@{/index}"><img src="../static/img/logo/footer-logo.png" th:src="@{/img/logo/footer-logo.png}" alt="" width="25%" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" align="right">
						 <div th:replace="fragments/header::header"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Accueil</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/admin}">Statistique</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demoevent" href="#">E-mail</a>
                                    <ul id="demoevent" class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/inbox}">Boite principale</a></li>
                                        <li><a  th:href="@{/view-email}">Régarder Email</a></li>
                                        <li><a  th:href="@{/compose-email}">Répondre Email</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Listes</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                        <li><a  th:href="@{/listePublication}">Liste publication</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Accueil</a>
                        </li>
                        <li><a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> E-mail</a>
                        </li>
                        <li><a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Listes</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in  notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="index.html" th:href="@{/admin}">Statistique</a></li>
                            </ul>
                        </div>
                        <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="inbox.html" th:href="@{/inbox}">Boite principale</a></li>
                                <li><a href="view-email.html" th:href="@{/view-email}">Régarder Email</a></li>
                                <li><a href="compose-email.html" th:href="@{/compose-email}">Répondre Email</a></li>
                            </ul>
                        </div>
                        <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="listeUtilisateur.html" th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                <li><a href="listePublication.html" th:href="@{/listePublication}">Liste publication</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">30</span></h2>
                            <p>Nombre de visiteur</p>
                        </div>
                        <div class="sparkline-bar-stats1">9,4,8,6,5,6,4,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">50</span></h2>
                            <p>Les publications</p>
                        </div>
                        <div class="sparkline-bar-stats2">1,4,8,3,5,6,4,8,3,3,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">50</span></h2>
                            <p>Ressources partagées</p>
                        </div>
                        <div class="sparkline-bar-stats3">4,2,8,2,5,6,3,8,3,5,9,5</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30 dk-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">3</span></h2>
                            <p>Vidéo-conférence</p>
                        </div>
                        <div class="sparkline-bar-stats4">2,4,8,4,5,7,4,7,3,5,7,5</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12">
                    <div class="sale-statistic-inner notika-shadow mg-tb-30">
                        <div class="curved-inner-pro">
                            <div class="curved-ctn">
                                <h2>Statistiques des ressources partagées</h2>
                            </div>
                        </div>
                        <div id="curved-line-chart" class="flot-chart-sts flot-chart"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12">
                    <div class="statistic-right-area notika-shadow mg-tb-30 sm-res-mg-t-0">
                        <div class="past-day-statis">
                            <h2>Au cours des 30 derniers jours</h2>
                        </div>
						<div class="dash-widget-visits"></div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter">320</span></h3>
                                <p>Pages consultées</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-bar"></div>
                            </div>
                        </div>
                        <div class="past-statistic-an">
                            <div class="past-statistic-ctn">
                                <h3><span class="counter">600</span></h3>
                                <p>Nombre total de clics</p>
                            </div>
                            <div class="past-statistic-graph">
                                <div class="stats-line"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sale Statistic area-->
    <!-- Start Email Statistic area-->
    <div class="notika-email-post-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-64 col-md-6 col-sm-6 col-xs-12">
                    <div class="email-statis-inner notika-shadow">
                        <div class="email-ctn-round">
                            <div class="email-rdn-hd">
								<h2>Statistiques par e-mail</h2>
							</div>
                            <div class="email-statis-wrap">
                                <div class="email-round-nock">
                                    <input type="text" class="knob" value="0" data-rel="20" data-linecap="round" data-width="130" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true">
                                </div>
                                <div class="email-ctn-nock">
                                    <p>Nombre total d'emails envoyés</p>
                                </div>
                            </div>
                            <div class="email-round-gp">
                                <div class="email-round-pro">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="40" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Les emails lus</p>
                                    </div>
                                </div>
                                <div class="email-round-pro sm-res-ds-n lg-res-mg-bl">
                                    <div class="email-signle-gp">
                                        <input type="text" class="knob" value="0" data-rel="60" data-linecap="round" data-width="90" data-bgcolor="#E4E4E4" data-fgcolor="#00c292" data-thickness=".10" data-readonly="true" disabled>
                                    </div>
                                    <div class="email-ctn-nock">
                                        <p>Les emails non lus</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="recent-post-wrapper notika-shadow sm-res-mg-t-30 tb-res-ds-n dk-res-ds">
                        <div class="recent-post-ctn">
                            <div class="recent-post-title">
                                <h2>Articles récents</h2>
                            </div>
                        </div>
                        <div class="recent-post-items">
                            <div class="recent-post-signle rct-pt-mg-wp">
                                <a href="#">
                                    <div class="recent-post-flex">
                                        <div class="recent-post-img">
                                            <img src="img/post/2.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Amine</h2>
                                            <p>Cours sur Spring Boot</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="img/post/1.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Aloui</h2>
                                            <p>Cours sur HTML, CSS, Js</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="img/post/4.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Souf2Ou</h2>
                                            <p>Cours sur Spring Securty</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a href="#">
                                    <div class="recent-post-flex rct-pt-mg">
                                        <div class="recent-post-img">
                                            <img src="img/post/2.jpg" alt="" />
                                        </div>
                                        <div class="recent-post-it-ctn">
                                            <h2>Bilal</h2>
                                            <p>Cours sur Angular, NoteJs</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="recent-post-signle">
                                <a th:href="@{/publication}">
                                    <div class="recent-post-flex rc-ps-vw">
                                        <div class="recent-post-line rct-pt-mg">
                                            <p>Afficher plus</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Email Statistic area-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p> © Copyright 2019 .Tous droits réservés <a href="#">Exprim-U</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <!-- wow JS
		============================================ -->
    <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="../static/js/jquery-price-slider.js" th:src="@{/js/jquery-price-slider.js}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="../static/js/jquery.scrollUp.min.js" th:src="@{/js/jquery.scrollUp.min.js}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="../static/js/meanmenu/jquery.meanmenu.js" th:src="@{/js/meanmenu/jquery.meanmenu.js}"></script>
    <!-- counterup JS
		============================================ -->
    <script src="../static/js/counterup/jquery.counterup.min.js" th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
    <script src="../static/js/counterup/waypoints.min.js" th:src="@{/js/counterup/waypoints.min.js}"></script>
    <script src="../static/js/counterup/counterup-active.js" th:src="@{/js/counterup/counterup-active.js}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="../../static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
    <!-- sparkline JS
		============================================ -->
    <script src="../static/js/sparkline/jquery.sparkline.min.js" th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
    <script src="../static/js/sparkline/sparkline-active.js" th:src="@{/js/sparkline/sparkline-active.js}"></script>
    <!-- flot JS
		============================================ -->
    <script src="../static/js/flot/jquery.flot.js" th:src="@{/js/flot/jquery.flot.js}"></script>
    <script src="../static/js/flot/jquery.flot.resize.js" th:src="@{/js/flot/jquery.flot.resize.js}"></script>
    <script src="../static/js/flot/flot-active.js" th:src="@{/js/flot/flot-active.js}"></script>
    <!-- knob JS
		============================================ -->
    <script src="../static/js/knob/jquery.knob.js" th:src="@{/js/knob/jquery.knob.js}"></script>
    <script src="../static/js/knob/jquery.appear.js" th:src="@{/js/knob/jquery.appear.js}"></script>
    <script src="../static/js/knob/knob-active.js" th:src="@{/js/knob/knob-active.js}"></script>
    <!--  wave JS
		============================================ -->
    <script src="../static/js/wave/waves.min.js" th:src="@{/js/wave/waves.min.js}"></script>
    <script src="../static/js/wave/wave-active.js" th:src="@{/js/wave/wave-active.js}"></script>
    <!-- icheck JS
		============================================ -->
    <script src="../static/js/icheck/icheck.min.js" th:src="@{/js/icheck/icheck.min.js}"></script>
    <script src="../static/js/icheck/icheck-active.js" th:src="@{/js/icheck/icheck-active.js}"></script>
    <!--  Chat JS
		============================================ -->
    <script src="../static/js/chat/jquery.chat.js" th:src="@{/js/chat/jquery.chat.js}"></script>
    <!--  todo JS
		============================================ -->
    <script src="../static/js/todo/jquery.todo.js" th:src="@{/js/todo/jquery.todo.js}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
    <!-- main JS
		============================================ -->
    <script src="../static/js/mainBackOffice.js" th:src="@{/js/mainBackOffice.js}"></script>
    <!-- Script pour popover profil-->
	<script>
		$("[data-toggle=popovers]").each(function (i, obj) {

			$(this).popover({
				html: true,
				content: function () {
					var id = $(this).attr('id')
					return $('#popover-' + id).html();
				}
			});

		});
	</script>
	<!-- End Script pour popover profil--->
	
</body>

</html>