<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Administration Exprim-U</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" href="../static/images/logo-1.png" th:href="@{/images/logo-1.png}" type="image/x-icon">    
<!-- Google Fonts
    ============================================ -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
<!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
<!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
<!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.css" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" href="../static/css/owl.transitions.css" th:href="@{/css/owl.transitions.css}">
<!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/meanmenu/meanmenu.min.css" th:href="@{/css/meanmenu/meanmenu.min.css}">    
<!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
<!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
<!-- mCustomScrollbar CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/scrollbar/jquery.mCustomScrollbar.min.css" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
<!-- jvectormap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/jvectormap/jquery-jvectormap-2.0.3.css" th:href="@{/css/jvectormap/jquery-jvectormap-2.0.3.css}">
<!-- notika icon CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/notika-custom-icon.css" th:href="@{/css/notika-custom-icon.css}">
<!-- wave CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/wave/waves.min.css" th:href="@{/css/wave/waves.min.css}">
    <link rel="stylesheet" href="../static/css/wave/button.css" th:href="@{/css/wave/button.css}">
<!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/mainBackOffice.css" th:href="@{/css/mainBackOffice.css}">
<!-- Data Table JS
        ============================================ -->
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}">
<!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/styleBackOffice.css" th:href="@{/css/styleBackOffice.css}">
<!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/responsiveBackOffice.css" th:href="@{/css/bootstrap/responsiveBackOffice.css}">
<!-- modernizr JS
    ============================================ -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
						<a href="index.html" th:href="@{/admin/index}"><img src="../static/img/logo/footer-logo.png" th:src="@{/img/logo/footer-logo.png}" alt="" width="25%" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-search"></i></span></a>
                                <div role="menu" class="dropdown-menu search-dd animated flipInX">
                                    <div class="search-input">
                                        <i class="notika-icon notika-left-arrow"></i>
                                        <input type="text" />
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-mail"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Messages</h2>
                                    </div>
                                    <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/1.jpg" th:src="@{/img/}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/2.jpg" th:src="@{/img/}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/4.jpg" th:src="@{/img/}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/1.jpg" th:src="@{/img/}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/2.jpg" th:src="@{/img/}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item nc-al"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-alarm"></i></span><div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span>3</span></div></a>
                                <div role="menu" class="dropdown-menu message-dd notification-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Notification</h2>
                                    </div>
                                    <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/1.jpg" th:src="@{/img/post/1.jpg}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/2.jpg" th:src="@{/img/post/2.jpg"}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/4.jpg" th:src="@{/img/post/4.jpg}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/1.jpg" th:src="@{/img/post/1.jpg}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img">
                                                    <img src="../static/img/post/2.jpg" th:src="@{/img/post/2.jpg}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Cum sociis natoque penatibus et magnis dis parturient montes</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-menus"></i></span><div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span>2</span></div></a>
                                <div role="menu" class="dropdown-menu message-dd task-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Tasks</h2>
                                    </div>
                                    <div class="hd-message-info hd-task-info">
                                        <div class="skill">
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>HTML5 Validation Report</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="95%" style="width: 95%;" data-wow-duration="1.5s" data-wow-delay="1.2s"> <span>95%</span>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>Google Chrome Extension</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="85%" style="width: 85%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>85%</span> </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>Social Internet Projects</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>75%</span> </div>
                                            </div>
                                            <div class="progress">
                                                <div class="lead-content">
                                                    <p>Bootstrap Admin</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="65%" style="width: 65%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>65%</span> </div>
                                            </div>
                                            <div class="progress progress-bt">
                                                <div class="lead-content">
                                                    <p>Youtube App</p>
                                                </div>
                                                <div class="progress-bar wow fadeInLeft" data-progress="55%" style="width: 55%;" data-wow-duration="1.5s" data-wow-delay="1.2s"><span>55%</span> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="notika-icon notika-chat"></i></span></a>
                                <div role="menu" class="dropdown-menu message-dd chat-dd animated zoomIn">
                                    <div class="hd-mg-tt">
                                        <h2>Chat</h2>
                                    </div>
                                    <div class="search-people">
                                        <i class="notika-icon notika-left-arrow"></i>
                                        <input type="text" placeholder="Search People" />
                                    </div>
                                    <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="../static/img/post/1.jpg" th:src="@{/}" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="../static/img/post/2.jpg" th:src="@{/img/post/2.jpg}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Jonathan Morris</h3>
                                                    <p>Last seen 3 hours ago</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="../static/img/post/4.jpg" th:src="@{/img/post/4.jpg"}" alt="" />
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Fredric Mitchell</h3>
                                                    <p>Last seen 2 minutes ago</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="../static/img/post/1.jpg" th:src="@{/img/post/1.jpg}" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>David Belle</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#">
                                            <div class="hd-message-sn">
                                                <div class="hd-message-img chat-img">
                                                    <img src="../static/img/post/2.jpg" th:src="@{/img/post/2.jpg}" alt="" />
                                                    <div class="chat-avaible"><i class="notika-icon notika-dot"></i></div>
                                                </div>
                                                <div class="hd-mg-ctn">
                                                    <h3>Glenn Jecobs</h3>
                                                    <p>Available</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="hd-mg-va">
                                        <a href="#">View All</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Accueil</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a href="index.html" th:href="@{/index}">Statistique</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demoevent" href="#">E-mail</a>
                                    <ul id="demoevent" class="collapse dropdown-header-top">
                                        <li><a href="inbox.html" th:href="@{/inbox}">Boite principale</a></li>
                                        <li><a href="view-email.html" th:href="@{/view-email}">Régarder Email</a></li>
                                        <li><a href="compose-email.html" th:href="@{/compose-email}">Répondre Email</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Listes</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a href="listeUtilisateur.html" th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                        <li><a href="listeActualite.html" th:href="@{/listeActualite}">Liste actualité</a></li>
                                        <li><a href="listePublication.html" th:href="@{/listePublication}">Liste publication</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demo" href="#">Formulaires</a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a href="ajouterActualite.html" th:href="@{/ajouterActualite}">Ajouter actualité</a></li>
                                            <li><a href="modifierContenu.html" th:href="@{/modifierContenu}">Modifier contenu</a></li>
                                            <li><a href="modifierActualite.html" th:href="@{/modifierActualite}">Modifier actualité</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Accueil</a>
                        </li>
                        <li><a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> E-mail</a>
                        </li>
                        <li><a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Listes</a>
                        </li>
                        <li><a data-toggle="tab" href="#Forms"><i class="notika-icon notika-form"></i> Formulaires</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in  notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="index.html" th:href="@{/index}">Statistique</a></li>
                            </ul>
                        </div>
                        <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="inbox.html" th:href="@{/inbox}">Boite principale</a></li>
                                <li><a href="view-email.html" th:href="@{/view-email}">Régarder Email</a></li>
                                <li><a href="compose-email.html" th:href="@{/compose-email}">Répondre Email</a></li>
                            </ul>
                        </div>
                        <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="listeUtilisateur.html" th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                <li><a href="listeActualite.html" th:href="@{/listeActualite}">Liste actualité</a></li>
                                <li><a href="listePublication.html" th:href="@{/listePublication}">Liste publication</a></li>
                            </ul>
                        </div>
                        <div id="Forms" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="ajouterActualite.html" th:href="@{/ajouterActualite}">Ajouter actualité</a></li>
                                <li><a href="modifierContenu.html" th:href="@{/modifierContenu}">Modifier contenu</a></li>
                                <li><a href="modifierActualite.html" th:href="@{/modifierActualite}">Modifier actualité</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-mail"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Boîte de réception</h2>
										<p>Bienvenue sur ExprimU <span class="bread-ntd"></span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Inbox area Start-->
    <div class="inbox-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="inbox-left-sd">
						<div class="compose-ml">
                            <a class="btn" href="#">Rédiger</a>
                        </div>
                        <div class="inbox-status">
                            <ul class="inbox-st-nav inbox-ft">
                                <li><a href="#"><i class="notika-icon notika-mail"></i> Boîte de réception<span class="pull-right">12</span></a></li>
                                <li><a href="#"><i class="notika-icon notika-sent"></i> Messages envoyés</a></li>
                                <li><a href="#"><i class="notika-icon notika-draft"></i> Brouillons</a></li>
                                <li><a href="#"><i class="notika-icon notika-trash"></i> Corbeille</a></li>
                            </ul>
                        </div>
                        <hr>

                      
                        <div class="inbox-status">
                            <ul class="inbox-st-nav inbox-nav-mg">
                                <li><a href="#"><i class="notika-icon notika-success"></i> Forum</a></li>
                                <li><a href="#"><i class="notika-icon notika-chat"></i> Chat</a></li>
                                <li><a href="#"><i class="notika-icon notika-star"></i> Espace de travail</a></li>
                                <li><a href="#"><i class="notika-icon notika-settings"></i> Paramètres</a></li>
                                <li><a href="#"><i class="notika-icon notika-support"></i> Assistance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="inbox-text-list sm-res-mg-t-30">
                        <div class="form-group">
                            <div class="nk-int-st search-input search-overt">
                                <input type="text" class="form-control" placeholder="Search email..." />
                                <button class="btn search-ib">Rechercher</button>
                            </div>
                        </div>
                        <div class="inbox-btn-st-ls btn-toolbar">
                            <div class="btn-group ib-btn-gp active-hook nk-email-inbox">
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-refresh"></i> Actualiser</button>
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-next"></i></button>
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-down-arrow"></i></button>
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-trash"></i></button>
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-checked"></i></button>
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-promos"></i></button>
                            </div>
                            <div class="btn-group ib-btn-gp active-hook nk-act nk-email-inbox">
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-left-arrow"></i></button>
                                <button class="btn btn-default btn-sm"><i class="notika-icon notika-right-arrow"></i></button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover table-inbox">
                                <tbody>
                                    <tr class="unread">
                                        <td class="">
                                            <label><input type="checkbox" checked="" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Jeremy Massey</a></td>
                                        <td><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                                        </td>
                                        <td><i class="notika-icon notika-paperclip"></i></td>
                                        <td class="text-right mail-date">Tue, Nov 25</td>
                                    </tr>
                                    <tr class="active">
                                        <td class="">
                                            <label><input type="checkbox" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Marshall Horne</a></td>
                                        <td><a href="#">Praesent nec nisl sed neque ornare maximus at ac enim.</a>
                                        </td>
                                        <td></td>
                                        <td class="text-right mail-date">Wed, Jan 13</td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <label><input type="checkbox" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Grant Franco</a> <span class="label label-warning">Finance</span></td>
                                        <td><a href="#">Etiam maximus tellus a turpis tempor mollis.</a></td>
                                        <td></td>
                                        <td class="text-right mail-date">Mon, Oct 19</td>
                                    </tr>
                                    <tr class="unread active">
                                        <td class="">
                                            <label><input type="checkbox" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Ferdinand Meadows</a></td>
                                        <td><a href="#">Aenean hendrerit ligula eget augue gravida semper.</a></td>
                                        <td><i class="notika-icon notika-paperclip"></i></td>
                                        <td class="text-right mail-date">Sat, Aug 29</td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <label><input type="checkbox" checked="" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Ivor Rios</a> <span class="label label-info">Social</span>
                                        </td>
                                        <td><a href="#">Sed quis augue in nunc venenatis finibus.</a></td>
                                        <td><i class="notika-icon notika-paperclip"></i></td>
                                        <td class="text-right mail-date">Sat, Dec 12</td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <label><input type="checkbox" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Maxwell Murphy</a></td>
                                        <td><a href="#">Quisque eu tortor quis justo viverra cursus.</a></td>
                                        <td></td>
                                        <td class="text-right mail-date">Sun, May 17</td>
                                    </tr>
                                    <tr>
                                        <td class="">
                                            <label><input type="checkbox" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Henry Patterson</a></td>
                                        <td><a href="#">Aliquam nec justo interdum, ornare mi non, elementum lacus.</a></td>
                                        <td><i class="notika-icon notika-paperclip"></i></td>
                                        <td class="text-right mail-date">Thu, Aug 06</td>
                                    </tr>
									<tr>
                                        <td class="">
                                            <label><input type="checkbox" class="i-checks"></label>
                                        </td>
                                        <td><a href="#">Maxwell Murphy</a></td>
                                        <td><a href="#">Quisque eu tortor quis justo viverra cursus.</a></td>
                                        <td></td>
                                        <td class="text-right mail-date">Sun, May 17</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagination-inbox">
                                <ul class="wizard-nav-ac">
                                    <li><a class="btn" href="#"><i class="notika-icon notika-back"></i></a></li>
                                    <li class="active"><a class="btn" href="#">1</a></li>
                                    <li><a class="btn" href="#">2</a></li>
                                    <li><a class="btn" href="#">3</a></li>
                                    <li><a class="btn" href="#"><i class="notika-icon notika-next-pro"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Inbox area End-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p> © Copyright 2019 .Tous droits réservés <a href="#">Exprim-U</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!-- End Footer area-->
    <!-- jquery
		============================================ -->
        <script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- wow JS
            ============================================ -->
        <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="../static/js/jquery-price-slider.js" th:src="@{/js/jquery-price-slider.js}"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="../static/js/jquery.scrollUp.min.js" th:src="@{/js/jquery.scrollUp.min.js}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="../static/js/meanmenu/jquery.meanmenu.js" th:src="@{/js/meanmenu/jquery.meanmenu.js}"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="../static/js/counterup/jquery.counterup.min.js" th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
        <script src="../static/js/counterup/waypoints.min.js" th:src="@{/js/counterup/waypoints.min.js}"></script>
        <script src="../static/js/counterup/counterup-active.js" th:src="@{/js/counterup/counterup-active.js}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="../../static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="../static/js/sparkline/jquery.sparkline.min.js" th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
        <script src="../static/js/sparkline/sparkline-active.js" th:src="@{/js/sparkline/sparkline-active.js}"></script>
        <!-- flot JS
            ============================================ -->
        <script src="../static/js/flot/jquery.flot.js" th:src="@{/js/flot/jquery.flot.js}"></script>
        <script src="../static/js/flot/jquery.flot.resize.js" th:src="@{/js/flot/jquery.flot.resize.js}"></script>
        <script src="../static/js/flot/flot-active.js" th:src="@{/js/flot/flot-active.js}"></script>
        <!-- knob JS
            ============================================ -->
        <script src="../static/js/knob/jquery.knob.js" th:src="@{/js/knob/jquery.knob.js}"></script>
        <script src="../static/js/knob/jquery.appear.js" th:src="@{/js/knob/jquery.appear.js}"></script>
        <script src="../static/js/knob/knob-active.js" th:src="@{/js/knob/knob-active.js}"></script>
        <!--  wave JS
            ============================================ -->
        <script src="../static/js/wave/waves.min.js" th:src="@{/js/wave/waves.min.js}"></script>
        <script src="../static/js/wave/wave-active.js" th:src="@{/js/wave/wave-active.js}"></script>
        <!-- icheck JS
            ============================================ -->
        <script src="../static/js/icheck/icheck.min.js" th:src="@{/js/icheck/icheck.min.js}"></script>
        <script src="../static/js/icheck/icheck-active.js" th:src="@{/js/icheck/icheck-active.js}"></script>
        <!--  Chat JS
            ============================================ -->
        <script src="../static/js/chat/jquery.chat.js" th:src="@{/js/chat/jquery.chat.js}"></script>
        <!--  todo JS
            ============================================ -->
        <script src="../static/js/todo/jquery.todo.js" th:src="@{/js/todo/jquery.todo.js}"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <!-- main JS
            ============================================ -->
        <script src="../static/js/mainBackOffice.js" th:src="@{/js/mainBackOffice.js}"></script>
</body>

</html>