<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Administration Exprim-U</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" href="../static/images/logo-1.png" th:href="@{/images/logo-1.png}" type="image/x-icon">    
<!-- Google Fonts
    ============================================ -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
<!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
<!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
<!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.css" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" href="../static/css/owl.transitions.css" th:href="@{/css/owl.transitions.css}">
<!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/meanmenu/meanmenu.min.css" th:href="@{/css/meanmenu/meanmenu.min.css}">    
<!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
<!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
<!-- mCustomScrollbar CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/scrollbar/jquery.mCustomScrollbar.min.css" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
<!-- jvectormap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/jvectormap/jquery-jvectormap-2.0.3.css" th:href="@{/css/jvectormap/jquery-jvectormap-2.0.3.css}">
<!-- notika icon CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/notika-custom-icon.css" th:href="@{/css/notika-custom-icon.css}">
<!-- wave CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/wave/waves.min.css" th:href="@{/css/wave/waves.min.css}">
    <link rel="stylesheet" href="../static/css/wave/button.css" th:href="@{/css/wave/button.css}">
<!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/mainBackOffice.css" th:href="@{/css/mainBackOffice.css}">
<!-- Data Table JS
        ============================================ -->
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}">
<!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/styleBackOffice.css" th:href="@{/css/styleBackOffice.css}">
<!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/responsiveBackOffice.css" th:href="@{/css/bootstrap/responsiveBackOffice.css}">
<!-- modernizr JS
    ============================================ -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    
    
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
						<a th:href="@{/index}"><img src="../static/img/logo/footer-logo.png" th:src="@{/img/logo/footer-logo.png}" alt="" width="25%" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" align="right">
						 <div th:replace="fragments/header::header"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Accueil</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/admin}">Statistique</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demoevent" href="#">E-mail</a>
                                    <ul id="demoevent" class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/inbox}">Boite principale</a></li>
                                        <li><a  th:href="@{/view-email}">Régarder Email</a></li>
                                        <li><a  th:href="@{/compose-email}">Répondre Email</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Listes</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                        <li><a  th:href="@{/listePublication}">Liste publication</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Accueil</a>
                        </li>
                        <li><a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> E-mail</a>
                        </li>
                        <li><a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Listes</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in  notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="index.html" th:href="@{/admin}">Statistique</a></li>
                            </ul>
                        </div>
                        <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="inbox.html" th:href="@{/inbox}">Boite principale</a></li>
                                <li><a href="view-email.html" th:href="@{/view-email}">Régarder Email</a></li>
                                <li><a href="compose-email.html" th:href="@{/compose-email}">Répondre Email</a></li>
                            </ul>
                        </div>
                        <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="listeUtilisateur.html" th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                <li><a href="listePublication.html" th:href="@{/listePublication}">Liste publication</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <div class="breadcomb-wp">
                                        <div class="breadcomb-icon">
                                            <i class="notika-icon notika-windows"></i>
                                        </div>
                                        <div class="breadcomb-ctn">
                                            <h2>Liste actualité</h2>
                                            <p>BIENVENUE À EXPRIM-U</p>
                                        </div>
                                    </div>
                                </div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Data Table area Start-->
    <div class="data-table-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="data-table-list">
                            <div class="table-responsive">
                                <table id="data-table-basic" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Date publication</th>
                                            <th>Description</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                        <tr>
                                            <td>Tiger Nixon</td>
                                            <td>2011/04/25</td>
                                            <td>System Architect</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                            <tr>
                                                <th>Titre</th>
                                                <th>Date publication</th>
                                                <th>Description</th>
                                            </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Data Table area End-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p> © Copyright 2019 .Tous droits réservés <a href="#">Exprim-U</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Footer area-->
    <!-- jquery
		============================================ -->
        <script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- wow JS
            ============================================ -->
        <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="../static/js/jquery-price-slider.js" th:src="@{/js/jquery-price-slider.js}"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="../static/js/jquery.scrollUp.min.js" th:src="@{/js/jquery.scrollUp.min.js}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="../static/js/meanmenu/jquery.meanmenu.js" th:src="@{/js/meanmenu/jquery.meanmenu.js}"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="../static/js/counterup/jquery.counterup.min.js" th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
        <script src="../static/js/counterup/waypoints.min.js" th:src="@{/js/counterup/waypoints.min.js}"></script>
        <script src="../static/js/counterup/counterup-active.js" th:src="@{/js/counterup/counterup-active.js}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="../../static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="../static/js/sparkline/jquery.sparkline.min.js" th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
        <script src="../static/js/sparkline/sparkline-active.js" th:src="@{/js/sparkline/sparkline-active.js}"></script>
        <!-- flot JS
            ============================================ -->
        <script src="../static/js/flot/jquery.flot.js" th:src="@{/js/flot/jquery.flot.js}"></script>
        <script src="../static/js/flot/jquery.flot.resize.js" th:src="@{/js/flot/jquery.flot.resize.js}"></script>
        <script src="../static/js/flot/flot-active.js" th:src="@{/js/flot/flot-active.js}"></script>
        <!-- knob JS
            ============================================ -->
        <script src="../static/js/knob/jquery.knob.js" th:src="@{/js/knob/jquery.knob.js}"></script>
        <script src="../static/js/knob/jquery.appear.js" th:src="@{/js/knob/jquery.appear.js}"></script>
        <script src="../static/js/knob/knob-active.js" th:src="@{/js/knob/knob-active.js}"></script>
        <!--  wave JS
            ============================================ -->
        <script src="../static/js/wave/waves.min.js" th:src="@{/js/wave/waves.min.js}"></script>
        <script src="../static/js/wave/wave-active.js" th:src="@{/js/wave/wave-active.js}"></script>
        <!-- icheck JS
            ============================================ -->
        <script src="../static/js/icheck/icheck.min.js" th:src="@{/js/icheck/icheck.min.js}"></script>
        <script src="../static/js/icheck/icheck-active.js" th:src="@{/js/icheck/icheck-active.js}"></script>
        <!--  Chat JS
            ============================================ -->
        <script src="../static/js/chat/jquery.chat.js" th:src="@{/js/chat/jquery.chat.js}"></script>
        <!--  todo JS
            ============================================ -->
        <script src="../static/js/todo/jquery.todo.js" th:src="@{/js/todo/jquery.todo.js}"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <!-- main JS
            ============================================ -->
        <script src="../static/js/mainBackOffice.js" th:src="@{/js/mainBackOffice.js}"></script>
        <!-- Data Table JS
		============================================ -->
        <script src="../static/js/data-table/jquery.dataTables.min.js" th:src="@{/js/data-table/jquery.dataTables.min.js}"></script>
        <script src="../static/js/data-table/data-table-act.js" th:src="@{/js/data-table/data-table-act.js}"></script>
    <!-- Script pour popover profil-->
	<script>
		$("[data-toggle=popovers]").each(function (i, obj) {

			$(this).popover({
				html: true,
				content: function () {
					var id = $(this).attr('id')
					return $('#popover-' + id).html();
				}
			});

		});
	</script>
	<!-- End Script pour popover profil--->
</body>

</html>