<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Administration Exprim-U</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" href="../static/images/logo-1.png" th:href="@{/images/logo-1.png}" type="image/x-icon">    
<!-- Google Fonts
    ============================================ -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
<!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
<!-- Bootstrap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
<!-- owl.carousel CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/owl.carousel.css" th:href="@{/css/owl.carousel.css}">
    <link rel="stylesheet" href="../static/css/owl.theme.css" th:href="@{/css/owl.theme.css}">
    <link rel="stylesheet" href="../static/css/owl.transitions.css" th:href="@{/css/owl.transitions.css}">
<!-- meanmenu CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/meanmenu/meanmenu.min.css" th:href="@{/css/meanmenu/meanmenu.min.css}">    
<!-- animate CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
<!-- normalize CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}">
<!-- mCustomScrollbar CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/scrollbar/jquery.mCustomScrollbar.min.css" th:href="@{/css/scrollbar/jquery.mCustomScrollbar.min.css}">
<!-- jvectormap CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/jvectormap/jquery-jvectormap-2.0.3.css" th:href="@{/css/jvectormap/jquery-jvectormap-2.0.3.css}">
<!-- notika icon CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/notika-custom-icon.css" th:href="@{/css/notika-custom-icon.css}">
<!-- wave CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/wave/waves.min.css" th:href="@{/css/wave/waves.min.css}">
    <link rel="stylesheet" href="../static/css/wave/button.css" th:href="@{/css/wave/button.css}">
<!-- main CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/mainBackOffice.css" th:href="@{/css/mainBackOffice.css}">
<!-- Data Table JS
        ============================================ -->
        <link rel="stylesheet" href="../static/css/jquery.dataTables.min.css" th:href="@{/css/jquery.dataTables.min.css}">
<!-- style CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/styleBackOffice.css" th:href="@{/css/styleBackOffice.css}">
<!-- responsive CSS
    ============================================ -->
    <link rel="stylesheet" href="../static/css/bootstrap/responsiveBackOffice.css" th:href="@{/css/bootstrap/responsiveBackOffice.css}">
<!-- modernizr JS
    ============================================ -->
    <script src="../static/js/vendor/modernizr-2.8.3.min.js" th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
						<a th:href="@{/index}"><img src="../static/img/logo/footer-logo.png" th:src="@{/img/logo/footer-logo.png}" alt="" width="25%" /></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" align="right">
						 <div th:replace="fragments/header::header"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
        <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li><a data-toggle="collapse" data-target="#Charts" href="#">Accueil</a>
                                    <ul class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/admin}">Statistique</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demoevent" href="#">E-mail</a>
                                    <ul id="demoevent" class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/inbox}">Boite principale</a></li>
                                        <li><a  th:href="@{/view-email}">Régarder Email</a></li>
                                        <li><a  th:href="@{/compose-email}">Répondre Email</a></li>
                                    </ul>
                                </li>
                                <li><a data-toggle="collapse" data-target="#demodepart" href="#">Listes</a>
                                    <ul id="demodepart" class="collapse dropdown-header-top">
                                        <li><a  th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                        <li><a  th:href="@{/listePublication}">Liste publication</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li><a data-toggle="tab" href="#Home"><i class="notika-icon notika-house"></i> Accueil</a>
                        </li>
                        <li><a data-toggle="tab" href="#mailbox"><i class="notika-icon notika-mail"></i> E-mail</a>
                        </li>
                        <li><a data-toggle="tab" href="#Tables"><i class="notika-icon notika-windows"></i> Listes</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in  notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="index.html" th:href="@{/admin}">Statistique</a></li>
                            </ul>
                        </div>
                        <div id="mailbox" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="inbox.html" th:href="@{/inbox}">Boite principale</a></li>
                                <li><a href="view-email.html" th:href="@{/view-email}">Régarder Email</a></li>
                                <li><a href="compose-email.html" th:href="@{/compose-email}">Répondre Email</a></li>
                            </ul>
                        </div>
                        <div id="Tables" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="listeUtilisateur.html" th:href="@{/listeUtilisateur}">Liste utilisateur</a></li>
                                <li><a href="listePublication.html" th:href="@{/listePublication}">Liste publication</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-form"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Modifier contenu</h2>
										<p>BIENVENUE À EXPRIM-U</p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->
    <!-- Form Element area Start-->
    <form  th:action="@{/updatePublication}" id="contact-form"  th:object="${contenu}"
						role="form"   method="post" 
						 enctype="multipart/form-data">
    <div class="form-element-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Titre</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                    	<input type="text" name="id" th:value="${contenu?.idContenu}" hidden>
                                    	<input th:each="user:${contenu?.utilisateur}" type="text" name="utilisateurs" th:value="${user?.idUtilisateur}" hidden>
                                        <input type="text" class="form-control" name="titre" th:value="${contenu?.titre}"  placeholder="Titre">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Date publication</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-calendar"></i>
                                    </div>
                                    <div class="nk-int-st">
                                    <div class="form-group nk-datapk-ctm form-elet-mg" id="data_1">
                                        <div class="input-group date nk-int-st">
                                            <span class="input-group-addon"></span>
                                            <input type="date" class="form-control" name="dateCreation" th:field="*{dateCreation}"  >
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Visiblité</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>	
                                    <div class="nk-int-st chosen-select-act fm-cmp-mg">
                                                <select class="chosen" data-placeholder="Choisissez la visibilité de contenu" name="select" th:field="*{visiblite}" >
                                                        <option th:each="visiblite : ${visibilites}" th:value="${visiblite}" th:text="${visiblite}">Visibilité</option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Type contenu</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
<!--                                     <div class="nk-int-st chosen-select-act fm-cmp-mg"> -->
<!--                                     			<input type="text" class="form-control" name="typeContenu" th:value="${contenu?.typeContenu}"  placeholder="type contenu"> -->
                                                
<!--                                     </div> -->
	
                                    <div class="nk-int-st chosen-select-act fm-cmp-mg">
                                                <select class="chosen" data-placeholder="Choisissez le type du contenu" name="select" th:field="*{typeContenu}" >
                                                        <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
                                                </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Description</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        <textarea class="form-control" rows="2" name="descriptif" th:text="${contenu?.descriptif}"  placeholder="Description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Photo</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <img  id="blah" name="picture"  width="45%" height="1%" th:src="@{getPhoto(id=${contenu?.idContenu})}">	
                                    <div class="nk-int-st">
                                        <input type="file" class="form-control" id="imgInp" name="picture" accept="image/*" th:value="@{contenu?.miniature}">
                                    </div>
                                </div>
                                
                                
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-offset-5 col-lg-4 col-md-4 col-sm-3 col-xs-12">
                                    <div class="form-example-int">
                                        <button class="btn btn-success notika-btn-success">Enregistrer</button>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
    <!-- Form Element area End-->
    <!-- Dropzone area Start-->
    <!-- <div class="dropzone-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="dropdone-nk mg-t-30">
                        <div class="cmp-tb-hd">
                            <h2>Drag and Drop File Uploader</h2>
                            <p>DropzoneJS is an open source library that provides Drag and Drop file uploads with image previews. It’s lightweight, doesn't depend on any other library (like jQuery) and is highly customizable.</p>
                        </div>
                        <div id="dropzone1" class="multi-uploader-cs">
                            <form action="/upload" class="dropzone dropzone-nk needsclick" id="demo1-upload">
                                <div class="dz-message needsclick download-custom">
                                    <i class="notika-icon notika-cloud"></i>
                                    <h2>Drop files here or click to upload.</h2>
                                    <p><span class="note needsclick">(This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)</span>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- Dropzone area End-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="footer-copy-right">
                        <p> © Copyright 2019 .Tous droits réservés <a href="#">Exprim-U</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End Footer area-->
    <!-- jquery
		============================================ -->
        <script src="../static/js/vendor/jquery-1.12.4.min.js" th:src="@{/js/vendor/jquery-1.12.4.min.js}"></script>
        <!-- bootstrap JS
            ============================================ -->
        <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
        <!-- wow JS
            ============================================ -->
        <script src="../static/js/wow.min.js" th:src="@{/js/wow.min.js}"></script>
        <!-- price-slider JS
            ============================================ -->
        <script src="../static/js/jquery-price-slider.js" th:src="@{/js/jquery-price-slider.js}"></script>
        <!-- owl.carousel JS
            ============================================ -->
        <script src="../static/js/owl.carousel.min.js" th:src="@{/js/owl.carousel.min.js}"></script>
        <!-- scrollUp JS
            ============================================ -->
        <script src="../static/js/jquery.scrollUp.min.js" th:src="@{/js/jquery.scrollUp.min.js}"></script>
        <!-- meanmenu JS
            ============================================ -->
        <script src="../static/js/meanmenu/jquery.meanmenu.js" th:src="@{/js/meanmenu/jquery.meanmenu.js}"></script>
        <!-- counterup JS
            ============================================ -->
        <script src="../static/js/counterup/jquery.counterup.min.js" th:src="@{/js/counterup/jquery.counterup.min.js}"></script>
        <script src="../static/js/counterup/waypoints.min.js" th:src="@{/js/counterup/waypoints.min.js}"></script>
        <script src="../static/js/counterup/counterup-active.js" th:src="@{/js/counterup/counterup-active.js}"></script>
        <!-- mCustomScrollbar JS
            ============================================ -->
        <script src="../../static/js/scrollbar/jquery.mCustomScrollbar.concat.min.js" th:src="@{/js/scrollbar/jquery.mCustomScrollbar.concat.min.js}"></script>
        <!-- sparkline JS
            ============================================ -->
        <script src="../static/js/sparkline/jquery.sparkline.min.js" th:src="@{/js/sparkline/jquery.sparkline.min.js}"></script>
        <script src="../static/js/sparkline/sparkline-active.js" th:src="@{/js/sparkline/sparkline-active.js}"></script>
        <!-- flot JS
            ============================================ -->
        <script src="../static/js/flot/jquery.flot.js" th:src="@{/js/flot/jquery.flot.js}"></script>
        <script src="../static/js/flot/jquery.flot.resize.js" th:src="@{/js/flot/jquery.flot.resize.js}"></script>
        <script src="../static/js/flot/flot-active.js" th:src="@{/js/flot/flot-active.js}"></script>
        <!-- knob JS
            ============================================ -->
        <script src="../static/js/knob/jquery.knob.js" th:src="@{/js/knob/jquery.knob.js}"></script>
        <script src="../static/js/knob/jquery.appear.js" th:src="@{/js/knob/jquery.appear.js}"></script>
        <script src="../static/js/knob/knob-active.js" th:src="@{/js/knob/knob-active.js}"></script>
        <!--  wave JS
            ============================================ -->
        <script src="../static/js/wave/waves.min.js" th:src="@{/js/wave/waves.min.js}"></script>
        <script src="../static/js/wave/wave-active.js" th:src="@{/js/wave/wave-active.js}"></script>
        <!-- icheck JS
            ============================================ -->
        <script src="../static/js/icheck/icheck.min.js" th:src="@{/js/icheck/icheck.min.js}"></script>
        <script src="../static/js/icheck/icheck-active.js" th:src="@{/js/icheck/icheck-active.js}"></script>
        <!--  Chat JS
            ============================================ -->
        <script src="../static/js/chat/jquery.chat.js" th:src="@{/js/chat/jquery.chat.js}"></script>
        <!--  todo JS
            ============================================ -->
        <script src="../static/js/todo/jquery.todo.js" th:src="@{/js/todo/jquery.todo.js}"></script>
        <!-- plugins JS
            ============================================ -->
        <script src="../static/js/plugins.js" th:src="@{/js/plugins.js}"></script>
        <!-- main JS
            ============================================ -->
        <script src="../static/js/mainBackOffice.js" th:src="@{/js/mainBackOffice.js}"></script>
        <!-- datapicker JS
            ============================================ -->
<!--         <script src="../static/js/datapicker/bootstrap-datepicker.js" th:src="@{/js/datapicker/bootstrap-datepicker.js}"></script> -->
<!--         <script src="../static/js/datapicker/datepicker-active.js" th:src="@{/js/datapicker/datepicker-active.js}"></script> -->
        <!--  summernote JS
		============================================ -->
         <script src="../static/js/summernote/summernote-updated.min.js" th:src="@{/js/summernote/summernote-updated.min.js}"></script>
        <script  src="../static/js/summernote/summernote-active.js" th:src="@{/js/summernote/summernote-active.js}"></script>
        <!--  chosen JS
		============================================ -->
        <script src="../static/js/chosen/chosen.jquery.js" th:src="@{/js/chosen/chosen.jquery.js}"></script>
    <!-- dropzone JS
		============================================ -->
    <script src="../static/js/dropzone/dropzone.js" th:src="@{/js/dropzone/dropzone.js}"></script>
        <!-- Script pour popover profil-->
	<script>
		$("[data-toggle=popovers]").each(function (i, obj) {

			$(this).popover({
				html: true,
				content: function () {
					var id = $(this).attr('id')
					return $('#popover-' + id).html();
				}
			});

		});
	</script>
	<!-- End Script pour popover profil--->
		<script>
	function readURL(input) {

		  if (input.files && input.files[0]) {
		    var reader = new FileReader();

		    reader.onload = function(e) {
		      $('#blah').attr('src', e.target.result);
		    }

		    reader.readAsDataURL(input.files[0]);
		  }
		}

		$("#imgInp").change(function() {
		  readURL(this);
		});
		

	</script>
</body>

</html>