<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

</head>
    <body>
        <header th:fragment="header" >
<!-- 		<nav> -->
<!-- 			<ul> -->
<!-- 				<li><a th:href="@{/}">Home Page</a></li> -->
<!-- 				<li><a sec:authorize="isAnonymous()" th:href="@{/connexion}">Log In</a></li> -->
<!-- 				<li><a sec:authorize="isAuthenticated()" th:href="@{/auteur}">Auteur Page</a></li> -->
<!-- 				<li><a sec:authorize="hasAuthority('ADMINISTRATOR')" th:href="@{/admin}">Admin Page</a></li> -->

<!-- 				<li> -->
<!-- 					<form sec:authorize="isAuthenticated()"   th:action="@{/logout}" method="post"> -->
<!-- 						<input type="submit" value="Logout" /> -->
<!-- 					</form> -->
<!-- 				</li> -->
<!-- 			</ul> -->
<!--                			<h1 th:if="${name}==null" th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1> -->

<!-- 		</nav> -->


<!-- Topbar right -->
						<!-- th:src="@{getPhoto1(username=${#httpServletRequest.remoteUser})}" -->
						<img class="img-circle img-responsive" th:src="@{getPhoto1(username=${#httpServletRequest.remoteUser})}"   alt="image profil ExprimU" 
						 data-toggle="popovers" data-container="body" data-placement="bottom" data-html="true" id="infocompte" width="50px" height="50px">

						<div id="popover-infocompte" class="hide">
							<ul class="nav nav-pills nav-stacked">
									<b th:inline="text">Bonjour [[${#httpServletRequest.remoteUser}]]!</b>
									<li><a sec:authorize="isAuthenticated()" th:href="@{/profil}">Profil</a></li>
									<li><a sec:authorize="hasAuthority('AUTEUR,'ADMINISTRATOR')" th:href="@{/ContenuForm}">Gérer les publications</a></li>
									<li><a sec:authorize="hasAuthority('ADMINISTRATOR')" th:href="@{/admin}">Administration</a></li>
									<!-- <li><a sec:authorize="hasAuthority('ADMINISTRATOR')" th:href="@{/admin}">Gérer les utilisateurs</a></li> -->
									<li><form sec:authorize="isAuthenticated()"   th:action="@{/logout}" method="post">
										<input type="submit" value="Logout" />
										</form> 
									</li>
							</ul>
						</div>

						
			
		
		
	</header>
      <!-- Script pour popover profil-->
    
        <script>
		$("[data-toggle=popovers]").each(function (i, obj) {

			$(this).popover({
				html: true,
				content: function () {
					var id = $(this).attr('id')
					return $('#popover-' + id).html();
				}
			});

		});
	</script>
	<!-- End Script pour popover profil--->  
</body>
   

</html>