/*
 @Author: FineLayers
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 This files contents are outlined below.
 01.	Theme Reset Style
 02.	Global Elements
 03.	Home Page 1
 04.	Home Page 2
 05.	Home Page 3
 06.	Home Page 4
 07.	Event With Sidebar
 08.	Event Masonry Grid
 09.	Courses Grid
 10.	Blog Masonary
 11.	Blog Detail
 12.	Blog Listing
 13.	Course Detail
 14.	Teacher Detail
 15.	Event Detail
 16.	Contact
 17.	Teachers Grid
 18.	Gallery	
*/

/****** Theme Reset Style ******/


/*** page profil **/
.hprofil{margin-bottom: 0px;}
.aprofilleft{margin-left: 100%;}
/*** page profil **/


.imageCompte{width: 10%;}


body{ background: #fff; font-size: 14px; color: #555; font-family: 'PT Serif', serif;}
body h1, body h2, body h3, body h4, body h5, body h6{ color: #484848; margin: 0 0 20px; font-family: 'Lato', sans-serif; text-transform: uppercase;}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{ color: #484848;}

p a{ color: #555;}
p a:hover{ text-decoration:underline; outline: none;}
p{ letter-spacing: normal; margin: 0 0 20px; line-height: 23px; font-size: 16px; color: #6b6b6b; }

a{ color: #555; text-decoration: none; outline: none; display: block;}
a:hover, a:focus, a:active { outline: none; text-decoration: none; color: #f8b239;}

.row.no-gutters{ margin-right: 0; margin-left: 0;}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"]{ padding-right: 0; padding-left: 0;}

/* img{ max-width: 100%;} */
iframe{ border: 0; width: 100%;}

button{ background: none;}

blockquote{ padding: 0; border: 0;}

label { color: #7f7f7f; display: block; font-weight: 400; margin: 0;}

textarea{ border-radius: 0!important; resize: none;}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
/*input,*/
.form-control{ border: 0; height: 50px; background: #fff; line-height: 50px;
box-shadow: none!important; padding: 0 15px; width: 100%; border-radius: 1;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;}
.form-control::-moz-placeholder{}
.form-control::-webkit-input-placeholder{}
/****** Global Elements ******/
h2{ font-size: 30px;}
h5{ font-weight:bolder;}

.btn{ height: 50px; line-height: 50px; font-size: 14px; font-weight: bold; text-transform: uppercase; padding: 0 45px; font-family: 'Lato', sans-serif; border-radius: 0!important;
border-top: 1px solid; border-bottom: 1px solid; border-left: 0; border-right: 0; position: relative;}
.btn.full-width{ width: 100%!important;}
.btn:hover{ color: #fff!important;}
.btn:hover::before{ height: 100%;}
.btn:hover::after{ height: 100%;}
.btn::before,
.btn::after{ content: ""; position: absolute; height: 21px; border-left: 1px solid;}
.btn::before{ left: 0; top: 0;}
.btn::after{ right: 0; bottom: 0;}
.btn.white{ background: #fff; color: #454545;}
.btn.orange{ background: #f8b239; color: #fff; border: 0;} 
.btn.orange::before,
.btn.orange::after{ display: none;}
.btn.orange i{ margin: 0 0 0 10px;}

.main-heading-holder{ text-align: center;}
.main-heading{ display: inline-block;}
.main-heading h2{ position: relative; color: #f8b239; margin: 0 0 40px;} /* modificado era 40px*/
.main-heading h2 em{ font-style: normal; z-index: 2; position: relative;}
.main-heading.gray-color span{ color: #e4e4e4;}
.main-heading h2 span{ position: absolute; left: 50%; font-size: 70px; color: #eee; text-transform: uppercase; z-index: 1; font-weight: bold;
margin: 0 0 0 -20px; top: -2px;}
.main-heading p:last-child{ margin: 0;}
.sperater i{ height: 9px; width: 9px; display: inline-block; margin: 0 0 0 6px;
-ms-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
transform: rotate(45deg);}
.sperater{ position: relative; width: 170px; display: inline-block; margin: 0 0 40px;}
.sperater i:first-child{ margin: 0;}
.sperater .active{ border: 1px solid; background: none; height: 12px; width: 12px;}
.sperater::before,
.sperater::after{ content: ""; position: absolute; width: 27%; top: 50%; border: 1px solid;}
.sperater::before{ left: 0;}
.sperater::after{ right: 0;}
.main-heading.white-heading h2{ color: #fff;}
.main-heading.white-heading h2 span{ color: #272551;}
.main-heading.white-heading .sperater i{ border-color: #fff; background: #fff;}
.main-heading.white-heading .sperater::before,
.main-heading.white-heading .sperater::after{ border-color: #fff;}
.main-heading.left-heading{ padding: 0;}
.main-heading.left-heading .h2{ float: left;}
.main-heading.left-heading .sperater{ float: left;}

.main-heading-holder{ text-align: center; padding: 0}
.main-heading{ display: inline-block; padding: 0 0 0px;}
.main-heading h2{ line-height: 32px;}
.main-heading .heading-icon{ width: 250px; display: inline-block; position: relative;}
.main-heading .heading-icon::before,
.main-heading .heading-icon::after{ content: ""; position: absolute; bottom: 3px; border-bottom: 1px solid; width: 43%;}
.main-heading .heading-icon::before{ left: 0;}
.main-heading .heading-icon::after{ right: 0;}

.pagination-holder{ line-height: 0; text-align: center; position: relative; border-bottom: 2px solid #eee;}
.pagination-holder ul{ margin: 0; text-align: center;}
.pagination-holder ul li{ margin: 0 0 0 5px; float: left;}
.pagination-holder ul li:first-child{ margin: 0;}
.pagination-holder ul li a{ color: #444; font-weight: 600; padding: 10px; border: 0; position: relative;}
.pagination-holder ul li a:hover{ background: none!important;}
.pagination-holder ul li a.active::before,
.pagination-holder ul li a:hover::before{ content: ""; position: absolute; border-bottom: 4px solid; width: 100%; bottom: -3px; left: 0; z-index: 1;}
.pagination-holder ul li:first-child a,
.pagination-holder ul li:last-child a{ padding: 10px 0;}
.pagination-holder ul li:first-child,
.pagination-holder ul li:last-child{ position: absolute;}
.pagination-holder ul li:first-child{ left: 0;}
.pagination-holder ul li:last-child{ right: 0;}

.tc-breadcrumb ul{ display: inline-block;}
.tc-breadcrumb li{ float: left; color: #656565; font-family: 'Lato', sans-serif;}
.tc-breadcrumb li a{ float: left; font-weight: bold;}
.tc-breadcrumb li::before{ float: left; line-height: 22px; content: "\f111"; font-family: fontawesome; margin: 0 10px; font-size: 7px;}
.tc-breadcrumb li:first-child::before{ display: none; margin: 0;}

.social-icons{ overflow: hidden; margin: 0 0 40px;}
.social-icons ul li{ float: left; margin: 0 0 0 20px;}
.social-icons ul li:first-child{ margin: 0;}
.social-icons ul li a{ height: 34px; line-height: 34px; text-align: center; width: 34px; border-radius: 100%; color: #3b3970;
border: 1px solid #dadada; border-radius: 100%;}
.social-icons ul li a:hover{ color: #fff; background: #f8b239; border-color: #f8b239;}

.rating-stars li{ float: left; margin: 0 0 0 7px;}
.rating-stars li:first-child{ margin: 0}
.rating-stars li i{ color: #f0bf2d;}

.tags-list,
.meta-post{ overflow: hidden; margin: 0 0 20px;}
.tags-list li
.meta-post li{ float: left; margin: 0 0 0 10px; color: #8f8f8f; font-family: 'Lato', sans-serif;}
.tags-list li,
.meta-post li{ float: left; margin: 0 0 0 10px;}
.tags-list li:first-child,
.meta-post li:first-child{margin: 0;}
.tags-list li i,
.meta-post li i{ margin: 0 10px 0 0; color: #8f8f8f;}
.meta-post li,
.meta-post li i{ color: #b6b6b6;}

.overlay-blue,
.overlay-red,
.overlay-gray{ position: relative;}
.overlay-dark::before,
.overlay-red::before,
.overlay-gray::before{ content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%; 
background: rgba(0,0,0,0.8); z-index: 1;}

.position-center-center{ left: 50%; position: absolute; top: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);}
.position-center-x{ position: absolute; top: 50%;
-webkit-transform: translate(0, -50%);
-moz-transform: translate(0, -50%);
-ms-transform: translate(0, -50%);
transform: translate(0, -50%);}
.position-center-y{ left: 50%; position: absolute;
-webkit-transform: translate(-50%, 0);
-moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
transform: translate(-50%, 0);}
.p-absolute{ position: absolute;}
.p-relative{ position: relative;}

.z-index-2{ z-index: 2;}

.font-italic{ font-style: italic}
.font-lato{ font-family: 'Lato', sans-serif;}
.font-pt-serif{font-family: 'PT Serif', serif;}

.white-bg{ background: #fff;}
.gray-bg{ background: #f2f2f2;}
.text-white{ color: #fff;}
.font-bold{ font-weight: bold;}
.text-left{ text-align: left;}
.text-right{ text-align: right;}
.d-inline-block{ display: inline-block;}
.d-block{ display: block;}
.h-white h1,
.h-white h2,
.h-white h3,
.h-white h4,
.h-white h5,
.h-white h6{ color: #fff;}
.p-white p{ color: #fff;}
.h-m-0 h1,
.h-m-0 h2,
.h-m-0 h3,
.h-m-0 h4,
.h-m-0 h5,
.h-m-0 h6{ margin: 0;}
.p-m-0 p{ margin: 0;}
.h-white h1 a,
.h-white h2 a,
.h-white h3 a,
.h-white h4 a,
.h-white h5 a,
.h-white h6 a{ color: #fff;}
.p-white p{ color: #fff;}
.h-m-0 h1 a,
.h-m-0 h2 a,
.h-m-0 h3 a,
.h-m-0 h4 a,
.h-m-0 h5 a,
.h-m-0 h6 a{ margin: 0;}
.p-m-0 p a{ margin: 0;}

.navbar-brand{ height: auto; width: auto; padding: 0;}
.tc-padding-top{ padding-top: 100px;}
.tc-padding-bottom{ padding-bottom: 100px;}
.tc-padding{ padding: 100px 0;} /* 100px*/
.tc-padding-m{ padding: 100px 0 20px 0;}
.tc-margin-top{ margin-top: 100px;}
.tc-margin-bottom{ margin-bottom: 100px;}
.tc-margin{ margin: 100px 0;}

.countdown{ list-style: none; margin: 0; padding: 0; display: block; text-align: center; overflow: hidden;}
.countdown li{ text-align: center; float: left; margin: 0 0 0 20px;}
.countdown li:first-child{ margin: 0;}
.countdown li{ background: #fff; color: #1e181c; border-radius: 2px; font-size: 30px; padding: 5px 20px; display: block; border: 1px solid; overflow: hidden;}
.countdown li p{ margin: 0; font-size: 14px; text-transform: uppercase; color: #9b756c;}

.btn-list{ margin: 0; padding: 0; list-style: none;}
.btn-list li{ float: left; margin: 0 0 0 30px;}
.btn-list li:first-child{ margin: 0;}

.overlay{ position: absolute; left: 0; top: 0; height: 100%; width: 100%;}
ul{ margin: 0; padding: 0; list-style: none;}

.m-0{ margin: 0!important;}
.p-0{ padding: 0!important;}
.border-0{ border: 0!important;}
.m-lef-0{ margin-left: 0;} 
.m-right-0{  margin-right: 0;}

.width-100-pre{ width: 100%;}

.hash-layout{ float: left; width: 100%;}
.f-bold{ font-weight: bold;}
/****** Home Page 1 ***********************************************************
*********************************************************** Home Page 1 ******/
.wrapper{ overflow: hidden; }

/****** Header ******/
header{ position: relative;}

/* Top-Bar */
.top-bar{ padding: 10px 0 10px 0; overflow: hidden;}
.topbar-left{ float: left;}   
.topbar-left h1 { padding-top: 8px; padding-bottom: 8px; margin-bottom: 0px;} 
.topbar-left ul li{ float: left; margin: 0 0 0 35px; color: #fff; font-family: 'Roboto', sans-serif;}
.topbar-left ul li:first-child{ margin: 0;}
.topbar-left ul li i{ margin: 0 20px 0 0;}

.topbar-right{ float: right;}
.topbar-right ul li{ float: left; margin: 0 0 0 35px;}
.topbar-right ul li:first-child{ margin: 0;} 
.search-bar{ width: 170px; position: relative;}
.search-bar .form-control{ height: auto; line-height: 0; background: none; padding-left: 30px; color: #fff;}
.search-bar a{ position: absolute; left: 0; top: 0; color: #fff;}
.search-bar .form-control::-moz-placeholder{ color: #fff;}
.search-bar .form-control::-webkit-input-placeholder{ color: #fff;}
.cart a{ float: left; margin: 0 10px 0 0; font-size: 20px; color: #fff;}
.number-cart{ float: left; height: 20px; width: 20px; line-height: 18px; text-align: center; border-radius: 100%; background: #f8b239; display: block;
color: #fff;}

/* Nav */
.nav-holder{ background: #fff; text-align: center;}
.nav-list{ display: inline-block;}
.nav-list > ul > li{ float: left; position: relative;}
.nav-list > ul > li > a{ font-size: 16px; padding: 30px 30px; font-family: 'Lato', sans-serif; font-weight: bold; text-transform: uppercase; position: relative;}
.nav-list > ul > li > a::before{ content: ""; position: absolute; left: 50%; width: 0; border-bottom: 5px solid; height: 100%; bottom: 0; visibility: hidden;
opacity: 0;}  
.nav-list > ul > li > a:hover::before{ visibility: visible; opacity: 1; left: 0; width: 100%;}
.nav-list.style-1 ul li:nth-child(3){ margin: 0 103px 0 0;}
.nav-list.style-1 ul li:nth-child(4){ margin: 0 0 0 103px;}
.navbar-btn{ display: none;}

/* Dropdown */
.nav-list li > ul{ list-style: none; margin: 0; padding: 0; top: 80%; border-radius: 0; position: absolute; width: 200px; 
visibility: hidden; opacity: 0; background: #fff; z-index: 100;
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.19);}
.nav-list li ul li{ position: relative; float: none; border-bottom: 1px solid #e1e1e1; margin: 0!important;}
.nav-list li ul li:last-child{ border: 0;}
.nav-list li ul li a{ width: 100%; position: relative; color: #888; padding: 15px; text-transform: capitalize; font-family: 'Lato', sans-serif; text-align: left;} 
.nav-list li ul li a:hover{ color: #fff;}
.nav-list li ul li a i{ color: #666; position: absolute; right: 10px; top: 50%; margin: -7px 0 0;}
.nav-list li:hover > ul{ visibility: visible; opacity: 1; top: 100%;}
/* Sub Menu */
.nav-list li > ul li ul{ left: 110%; top: 0!important;}
.nav-list li ul li:hover > ul{ visibility: visible; opacity: 1; left: 100%;}

/* Logo */
.logo a{ top: 0;}
.logo .position-center-y{ left: 50%; transform: translate(-50%, 0px); z-index: 2;}

/* Banner 1 */
.home-banner.style-1{ margin: -5px 0 0; position: relative;}
.caption.style-1{ z-index: -1;}
.caption.style-1 h1{ text-align: center; font-size: 45px;}
.caption.style-1 h1 span{ display: block; font-size: 50px; color: #f8b239; text-align: center;}

/* Banner 2 */
#animated-sldier{ margin: -5px 0 0 0; }
#animated-sldier .item  > img{ width: 100%;}
.caption h1{ font-size: 65px; font-weight: bold;}
.caption h1 span{ display: block; color: #f8b239;}
.caption p{ font-size: 16px;}

/****** Main Content ******/

/* Courses */
.courses-slider .item{ padding: 4px 0!important;}
.g-margin .owl-controls{ width: 30%; margin: 60px auto 0; overflow: hidden;}
.owl-prev,
.owl-next{ font-family: Flaticon; cursor: pointer; font-weight: bold; color: #cfcfcf;}
.owl-prev::before{ content: "\f105"; float: left;}
.owl-next::before{ content: "\f107"; float: right;}
.owl-dot{ float: left; margin: 0 0 0 8px; height: 6px; width: 6px; border-radius: 100%; background: #d1d1d1;}
.owl-dots{ position: absolute; left: 50%; margin: 0 0 0 -20px;}
.owl-dot.active{ height: 10px; width: 10px; margin: -2.1px 0 0 8px; cursor: pointer;}

.courses-column{ overflow: hidden; border-radius: 7px; position: relative;}
.courses-detail{ text-align: center; border: 1px solid #d1d1d1; padding: 0 0 30px;}
.courses-detail h5{ margin: 0; line-height: 20px;}
.courses-detail span{ display: block; margin: 0 0 20px;}
.teacher-img{ overflow: hidden; border: 3px solid; height: 80px; width: 80px; display: inline-block!important; margin: -40px 0 20px;
-ms-transform: rotate(47deg);
-webkit-transform: rotate(47deg);
transform: rotate(47deg);}

.course-btm{ overflow: hidden; padding: 10px 20px; background: #f1f1f1; border: 1px solid #d1d1d1; border-top: 0;}
.course-btm li{ float: left; margin: 0 0 0 30px; color: #8c8c8c; font-size: 16px;}
.course-btm li:first-child{ margin: 0;}
.course-btm li i{ margin: 0 10px 0 0; color: #8c8c8c;}
.teacher-fee{ color: #ff0000; font-size: 16px;}
 
.courses-column:hover{
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.53);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.53);
box-shadow:	0px 0px 5px 0px rgba(50, 50, 50, 0.53);}
.courses-column:hover .on-hover{ opacity: 1; visibility: visible; top: 0; transform: scale(1);}

.on-hover{ position: absolute; top: 138px; height: 100%; width: 100%; background: #f8b239; padding: 47px 20px; opacity: 0; visibility: hidden;
transform: scale(0.5);}
.on-hover .teacher-img{ margin-top: 0;}
.on-hover .courses-detail{ border: 0; padding: 0;}
.on-hover .courses-detail p{ line-height: 25px; color: #fff;}
.on-hover .courses-detail h5{ margin: 0 0 20px;}
.on-hover .courses-detail h5 a{ color: #fff;}
.on-hover .teacher-name{ color: #fff;}

/* Upcpmming Event */
.event-names ul li{ margin: 0 0 60px;  position: relative;}
.event-names ul li:last-child{ margin: 0;}
.dates{ height: 70px; width: 70px; position: absolute; padding: 9px 0; text-align: center; border-radius: 100%; background: #f8b239; display: block;}
.dates span{ display: block; color: #fff; line-height: 25px; font-family: 'Lato', sans-serif;}
.dates span:first-child{ font-size: 30px;}
.dates span:last-child{ font-size: 18px;}
.event-address i{ margin: 0 10px 0 0;}
.event-names.style-1 ul li{ padding: 0 100px 0 0; text-align: right;}
.event-names.style-1 ul li .dates{ right: 0;}
.event-names.style-2 ul li{ padding: 0 0 0 100px;}
.event-names.style-2 ul li .dates{ left: 0;}
.dates::before{ visibility: hidden; opacity: 0; border: 1px solid #f7be5c; border-radius: 100%; content: "";
position: absolute; top: -7px; left: -7px; width: 85px; height: 85px;}
.event-names ul li:hover .dates::before{ visibility: visible; opacity: 1;}
.event-names ul li:hover .dates{
-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.17);
box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.17);}

.datepicker{ padding: 30px; width: 100%;}
.datepicker table{ width: 100%;}
.datepicker table thead tr th,
.datepicker table tbody tr td{ padding: 22.3px 0; color: #fff;}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover{ background: #f8b239;}
.datepicker table tr td:hover{ background: none!important; color: #f8b239!important;}
.datepicker table tr th:hover{ background: none!important; color: #f8b239!important;}

.btn-holder{ text-align: center;}
.btn-holder .btn{ margin: 60px 0 0;}

/* Our Featured Courses */
.cirlec-slider{ padding: 200px 177px; position: relative;}
.cirlec-slider-bg{ height: 760px;}

/* modification code H hash **************************************************/
.cirlec-slider-bg{ position: relative; background-size: 100% 100%!important}
.cirlec-slider-bg .f-courses{ cursor: pointer; position: absolute; top: 50%; left: 50%; transition: transform 1.1s ease-out;}
.name-tag.style-1{ top: -25px;} 
.name-tag.style-2{ bottom: 40px; right: -25px; top: auto;}
.name-tag.style-3{ bottom: -25px;}
.name-tag.style-4{ left: -25px;}

.f-courses-img{ border: 50px solid #f3f3f3; border-radius: 100%; overflow: hidden;}  
.f-courses-img img{ border: 8px solid #dbdbdb; border-radius: 100%;}
.f-courses .name-tag{ height: 127px; width: 127px; border-radius: 100%; font-size: 21px; display: block; color: #fff;
text-align: center; padding: 35px 0; position: absolute; background: #f8b239;}

.f-courses.active .name-tag{ top: -25px; left: auto; right: auto; bottom: auto; left: 50%;
-webkit-transform: translate(-50%, 0);
-moz-transform: translate(-50%, 0);
-ms-transform: translate(-50%, 0);
transform: translate(-50%, 0);}

.f-courses.active .f-courses-img{ border-color: #f8b239;}
.f-courses.active .f-courses-img img{ border-color: #da951f;}
.f-courses.active .f-courses-detail{ opacity: 1; visibility: visible;}
.f-courses-detail{ position: absolute; top: 170px; z-index: -1; text-align: center; padding: 200px 30px 80px; opacity: 0; visibility: hidden;}
.f-courses-detail .angle-bg{ left: 0; position: absolute; bottom: 0; width: 100%;}
.f-courses-detail .btn{ border-color: #fff; color: #fff;}
.f-courses-detail .btn::before,
.f-courses-detail .btn::after{ border-color: #fff;}
.f-courses-detail::before,
.f-courses-detail::after{ content: ""; height: 12px; width: 31px; position: absolute; top: 0;}
.f-courses-detail::before{ background: url(../images/left-stand.png) no-repeat; right: 100%;}
.f-courses-detail::after{ background: url(../images/right-stand.png) no-repeat; left: 100%;}
/* modification code Hash **************************************************/

/* Testimonial */
.testimonial{ padding: 30px 55px; border: 1px solid #d1d1d1; background: #fff; overflow: hidden;}
.testimonial p{ font-size: 12px;}
.client-rank{ overflow: hidden; margin: 0 0 30px;}
.client-rank h5{ font-size: 14px; text-transform: capitalize; float: left; margin: 0 10px 0 0;}
.client-rank ul{ float: left; margin: -2px 0 0 0;}
.client-rank ul li i{ font-size: 12px;}

.clien-name{ position: relative; float: right; padding: 12px 70px 12px 0;}
.clien-name h6{ font-weight: bold; text-transform: capitalize; margin: 0;}
.clien-name img{ right: 0; position: absolute; top: 0;}

.testimonial-slider .owl-stage{ padding: 45px 0; }
.testimonial-slider .owl-item.active.center{ transform: scale(1.3, 1.1); z-index: 1;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.53);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.53);
box-shadow:	0px 0px 5px 0px rgba(50, 50, 50, 0.53);}

/* Facts Section */
.facts-lsit ul li{ float: left; text-align: center; padding: 0 44px; border-left: 1px solid #e1e1e1;}
.facts-lsit ul li:first-child{ border: 0;}
.facts-lsit ul li strong{ font-size: 57px; margin: 0 0 10px; display: block; color: #f8b239;}
.facts-lsit ul li h4{ font-size: 16px; color: #fff; font-weight: bold; text-transform: uppercase;}
.facts-section .btn{ position: relative; z-index: 1;}

/* Our Lecturers */
.o-lecturers{ padding: 100px 0 0; position: relative;}
.o-lecturers-bg{ height: 750px; width: 100%;}
.o-teacher-img{ border-radius: 100%; overflow: hidden; border: 30px solid #f3f3f3; display: inline-block;}
.o-teacher-img img{ border-radius: 100%; border: 5px solid #dbdbdb;}
.o-lecturers-teacher.style-2{ left: 185px;}
.o-lecturers-teacher.style-2,
.o-lecturers-teacher.style-4{ top: 15%;
-webkit-transform: translate(0, -15%);
-moz-transform: translate(0, -15%);
-ms-transform: translate(0, -15%);
transform: translate(0, -15%);}
.o-lecturers-teacher.style-4{ right: 185px;}
.o-lecturers-teacher.style-5{ right: 0;}
/*Modification hash*/
.o-lecturers-teacher.style-3{ top: 25px;}
/*Modification hash End*/
.o-lecturers-teacher.active .o-teacher-img{ transform: scale(1.3); border: 25px solid #f8b239;}
.o-lecturers-teacher.active .o-teacher-img img{ border-color: #da951f;}

.o-teacher-detail{ position: absolute; bottom: 0; width: 60%;}
.detail-teacher-img{ float: left; width: 45%; margin: 0 50px 0 0;}
.teacher-detail{ float: left; width: 45%; padding: 140px 0 0 0;}
.teacher-detail h3 span{ display: block; font-size: 14px; font-style: italic; color: #252525; margin: 20px 0 0;}
.teacher-detail .social-icons{ margin: 0 0 30px;}

/* Latest News */
.news-column{ border: 1px solid #d8d8d8;}
.news-img{ position: relative; overflow: hidden;}
.news-img .dates{ z-index: 1; position: absolute; bottom: 0; right: 0; border-radius: 0; font-family: 'Lato', sans-serif;}
.news-img .dates span{ font-size: 18px;}
.news-img .overlay{ background: rgba( 248,178,57, 0.9); visibility: hidden; opacity: 0; left: 50%; top: 50%; height: 0; width: 0;}
.news-img .overlay a{ color: #fff; font-size: 18px; font-family: 'Lato', sans-serif; font-weight: bold; font-size: 0;}
.news-column:hover .news-img .overlay{ top: 0; left: 0; width: 100%; height: 100%; visibility: visible; opacity: 1;}
.news-column:hover .dates{ bottom: 50%; margin: 0 0 -30px;}
.news-column:hover .overlay a{ font-size: 18px;}

.news-detail{ padding: 30px; background: #fff; overflow: hidden;}
.news-detail h5{ font-size: 16px; text-transform: capitalize;}
.news-detail .meta-post{ margin: 0;}

/****** Footer ******/
.footer{ background: #2c2a43;}

/* Footer widgets */
.footer-columns{ padding: 60px 0;}

.logo-widget img{ margin: 0 0 30px;}
.logo-widget .social-icons ul li a{ background: #fff;}
.logo-widget .social-icons ul li a:hover{ color: #fff; background: #f8b239; border-color: #f8b239;}

.footer-c-widget h3{ font-size: 18px; font-weight: bold; margin: 0 0 30px;}
.list-widget ul li{ margin: 0 0 20px;}
.list-widget ul li:last-child{ margin: 0;}
.list-widget ul li a{ font-family: 'Lato', sans-serif; color: #fff;}

.address-list ul li{ color: #fff; margin: 0 0 20px; font-size: 15px; position: relative; padding: 0 0 0 35px;}
.address-list ul li:last-child{ margin: 0;}
.address-list ul li i{ position: absolute; left: 0; color: #fcd798; font-size: 20px;}

.newslatter-holder{ position: relative; width: 70%; margin: 0 auto;}
.newslatter-holder h5{ position: absolute; left: 0; line-height: 48px;}
.newslatter{ width: 100%; padding: 0 0 0 125px; position: relative;}
.newslatter .form-control{ background: rgba(255,255,255,0.1); color: #fff;}
.newslatter a{ text-align: center; line-height: 48px; color: #f8b239; position: absolute; top: 0; right: 0; height: 100%; width: 40px;}

/* Footer Gallery */
.footer-gallery{ position: relative;}
.gallery-batch{ padding: 10px 20px; z-index: 1; background: #f8b239; color: #fff; display: block; bottom: 0;}
.gallery-batch i{ margin: 0 10px 0 0;}

/* Sub Footer */
.sub-footer{ padding: 40px 0;}
.sub-footer p:Last-child{ margin: 0; font-family: 'Lato', sans-serif; font-size: 12px;}

/****** Home Page 2 ***********************************************************
*********************************************************** Home Page 2 ******/

/* Search Courses Form */
.search-course-form{ z-index: 1; position: relative; padding: 30px; margin: -82px 0 0; overflow: hidden; background: url(../images/form-bg.jpg) no-repeat; background-size: cover;}
.search-course-form ul li{ width: 15%; float: left; margin: 0 0 0 21.6px;}
.search-course-form ul li:first-child{ margin: 0;}
.search-course-form .form-group{ margin: 0;}

/* Our Features Style 2 */
.feature-column{ text-align: center;}
.feature-column .feature-icon{ margin: 50px 0 70px; display: inline-block; height: 180px; width: 180px; line-height: 180px; position: relative;
-ms-transform: rotate(47deg);
-webkit-transform: rotate(47deg);
transform: rotate(47deg);}
.feature-column .feature-icon img{
-ms-transform: rotate(-47deg);
-webkit-transform: rotate(-47deg);
transform: rotate(-47deg);}
.feature-column .feature-icon::before,
.feature-column .feature-icon::after{ content: ""; height: 50px; width: 50px; position: absolute; opacity: 0.8;
-ms-transform: rotate(90deg);
-webkit-transform: rotate(90deg);
transform: rotate(90deg);}
.feature-column .feature-icon::before{ right: -11px; top: -11px;}
.feature-column .feature-icon::after{ left: -11px; bottom: -11px;}
.our-features.style-2 .feature-column:hover .feature-icon::before,
.our-features.style-2 .feature-column:hover .feature-icon::after{ opacity: 1;
-ms-transform: rotate(0);
-webkit-transform: rotate(0);
transform: rotate(0);}

.feature-column h5{ text-transform: capitalize;}
.feature-column h3{ font-weight: bold; font-size: 28px; color: #f8b239;}
.feature-column p{ padding: 0 30px; font-size: 14px;}
.feature-column .btn:hover{ background: #f8b239;}

.most-f-course-detail{ padding: 60px 30px 30px; position: relative; background: #3b3970;}
.most-f-course-detail p:last-child{ margin: 0;}
.most-f-course-btm{ padding: 20px 30px; overflow: hidden;}
.user-rank li{ float: left; margin: 0 0 0 10px; color: #8d8bc0;} 
.user-rank li:first-child{ margin: 0;}
.user-rank li i{ margin: 0 10px 0 0;}
.course-rate-batch{ height: 80px; width: 80px; text-align: center; line-height: 80px; border-radius: 100%; background: #f8b239; color: #fff;
display: block; position: absolute; top: -40px; font-size: 24px; text-transform: capitalize;
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.53);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.53);
box-shadow:	0px 0px 5px 0px rgba(50, 50, 50, 0.53); z-index: 2;}
.most-f-course-btm .rating-stars li{ margin: 0 0 0 2px;}

/* About Section */
.about-section{ position: relative;}
.about-story{ padding: 131px 50px; background: #e7e7e7;} 
.about-story p{ font-size: 14px;}
.about-principal{ background: #f8b239; padding: 100px 70px;}
.about-principal p{ font-size: 14px;}
.principal-photo{ position: relative; padding: 16px 0 16px 100px; overflow: hidden; margin: 0 0 30px;}
.principal-photo img{ border-radius: 100%; overflow: hidden; position: absolute; left: 0; top: 0;}
.principal-photo h3{font-size: 18px; margin: 0;}
.principal-photo h3 span{ display: block; margin: 10px 0 0 0; font-size: 14px;}
.play-icon{ height: 90px; width: 90px; text-align: center; width: 90px; line-height: 90px; font-size: 30px; 
background: rgba(255,255,255,0.2); color: #fff; border: 1px solid #fff;}

/* Upcomming Events */
.event-column{ position: relative;}
.event-detail.style-2{ padding: 0 30px;}
.event-detail.style-2 p:last-child{ margin: 0;}
.event-detail.style-2 span{ margin: 0 0 20px; font-weight: bold; color: #fff; display: block; text-transform: uppercase;}
.event-column.no-bg-img .overlay{ background: #f0f0f0!important;}
.event-column.no-bg-img .overlay h5,
.event-column.no-bg-img .overlay span,
.event-column.no-bg-img .overlay p{ color: #6b6b6b;}
.event-column:hover{ transform: scale(1.2); z-index: 2;
-webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);
box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.3);}
.event-column:hover .overlay{ background: #f8b239!important;}
.event-column:hover .overlay p,
.event-column:hover .overlay span,
.event-column:hover .overlay h5{ color: #fff;}

/* Testimonial 2 */
.testimonial-2-inner{ position: relative; height: 300px;}
.people-say{ width: 51%; position: absolute;}
.people-say.style-1{ position: absolute; left: 0;}
.people-say.style-2{ position: absolute; right: 0; top: 30px;}

.people-say.style-1 blockquote::before,
.people-say.style-2 blockquote::before{ content: ""; height: 18px; width: 33px; position: absolute; top: 100%;}
.people-say.style-1 blockquote::before{ background: url(../images/b-angel-1.png) no-repeat; left: 100px;}
.people-say.style-2 blockquote::before{ background: url(../images/b-angel-2.png) no-repeat; right: 100px;}
.people-say blockquote{ border-radius: 10px; padding: 40px 30px; background: rgba( 248, 178, 57,0.9); font-size: 14px; color: #fff;
margin: 0 0 30px; position: relative;}
.people-say .principal-photo{ float: left; margin: 0 0 0 30px;}
.people-say.style-2 .principal-photo{ padding: 16px 100px 16px 0; float: right;}
.people-say.style-2 .principal-photo img{ right: 0; left: auto;}

/* Lectures Style-2 */
.lecture-about p{ margin: 0 0 50px;}
.lectures-list{ margin: 0 0 0 -15px;}
.lectures-list::after{ visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;}
.lectures-list li{ position: relative; float: left; margin: 0 0 0 15px;}
.lectures-list li:first-child{ margin: 0;}
.lectures-list li .overlay{ text-align: center; visibility: hidden; opacity: 0;}
.lectures-list li .overlay h5{ color: #fff; display: inline-block;}
.lectures-list li .overlay.social-icons{ margin: 0;}
.lectures-list li .overlay.social-icons ul{ display: inline-block;}
.lectures-list li .overlay.social-icons ul li{ margin: 0 0 0 5px;}
.lectures-list li .overlay.social-icons ul li:first-child{ margin: 0;}
.lectures-list li .overlay.social-icons ul li a{ background: #fff;}
.lectures-list li .overlay.social-icons ul li a:hover{ background: #f8b239; color: #fff;}
.lectures-list.style-2 li{ margin: 15px 0 0;}
.lectures-list.style-3 li{ margin: 15px 0 15px;}
.lectures-list li:hover{ transform: scale(1.3); z-index: 2;
-webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.5);
box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.5);}
.lectures-list li:hover .overlay{ visibility: visible; opacity: 1;}
.aristotle-heading{ text-align: center;}
.aristotle-heading h2{ font-size: 50px; margin: 0 0 10px;}
.aristotle-heading span{ font-size: 18px;} 

/* Lates News Style 2 */
.news-column.style-2{ border: 0; margin: 0 0 30px;}
.news-column.style-2 .news-detail{ padding: 0; background: none;}
.news-column.style-2 .meta-post{ margin: 0 0 20px;}

/****** Home Page 3 ***********************************************************
*********************************************************** Home Page 3 ******/

/***** Header 2 *****/
/* Top Bar */
.top-bar.style-2{ background: #fff;}

/* Nav */
.nav-holder.style-2{ background: none; position: absolute; width: 100%; z-index:  10;}
.nav-holder.style-2 .nav-list{ float: right;}
.nav-holder.style-2 .nav-list li{ margin: 0!important;}
.nav-holder.style-2 .nav-list li a{ color: #fff;}
.nav-holder.style-2 .nav-list li a:hover{ color: #f8b239;}
.nav-holder.style-2 .logo{ float: left;}
.nav-holder.style-2 .nav-list li ul li a:hover{ color: #fff;}
/***** Main Content *****/

/* servises */
.featuers-services{ position: absolute; width: 100%; bottom: 0; z-index: 1;}
.feature-service{ padding: 55px 40px 80px; background: #3b3970; min-height: 300px;}
.feature-service .features-ser-icon{ margin: 0 0 30px; display: block;}
.feature-service h3{ font-size: 18px;}
.feature-service p{ font-size: 14px; margin: 0;}
.plus-icon{ height: 58px; width: 58px; line-height: 54px; color: #fff; background: #f8b239; text-align: center; 
font-size: 50px; border-radius: 100%; bottom: -25px;
-webkit-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.5);
box-shadow: 0px 0px 14px -3px rgba(0,0,0,0.5);}
.plus-icon:hover{ color: #fff;}
.feature-service.with-angle{ border-top: 14px solid #3b3970; margin: -14px 0 0; min-height: 315px;}
.feature-service.with-angle::before,
.feature-service.with-angle::after{ content: ""; position: absolute; top: 0; height: 310px; width: 25px; z-index: 2}
.feature-service.with-angle::before{ background: url(../images/long-angel-left.png) no-repeat; right: 100%;}
.feature-service.with-angle::after{ background: url(../images/long-angel-right.png) no-repeat; left: 100%;}
.feature-service:hover .plus-icon{ color: #f8b239;}

/* Lectures Style 2 */
.lectures-column img{ width: 100%;}
.lectures-column:hover .overlay{ opacity: 1; visibility: visible;}
.lectures-detail{ height: 475.4px; background: #24233f; position: relative;}
.lectures-detail div{ padding: 0 30px;}
.lectures-detail h2{ color: #f8b239;}
.lectures-detail p{ color: #fff;}
.lectures-detail .btn{ color: #fff; border-color: #fff;}
.lectures-detail .btn::before,
.lectures-detail .btn::after{ border-color: #fff;}
.lectures-column .overlay{  background: rgba( 248,178,57, 0.92); opacity: 0; visibility: hidden;}
.lectures-column .overlay div{ width: 100%; text-align: center;}
.lectures-column .overlay h3{ color: #fff; }
.lectures-column .overlay h3 span{ display: block; font-size: 18px; font-style: italic; margin: 10px 0 0; display: block;}
.lectures-column .overlay .social-icons{ margin: 0;}
.lectures-column .overlay .social-icons ul{ display: inline-block;}
.lectures-column .overlay .social-icons ul li a{ background: #fff;}
.lectures-column .overlay .social-icons ul li a:hover{ color: #fff;}

/* Lates News Style 3 */
.event-img-2{ position: relative;}
.event-deta-2{ padding: 20px 0 0;}
.event-deta-2 h5{ font-weight: bold; }
.event-deta-2 p:last-child{ margin: 0;}

.long-batch{ width: 100%; position: absolute; bottom: 0; padding: 15px 0; left: 0; text-align: center; color: #fff;
text-transform: uppercase;}
.event-column-2:hover .long-batch{ background: #f8b239;}

/* Lates News Style 3 */
.news-column.style-3{ border: 0;}
.news-column.style-3 .news-detail{ padding: 30px 0 0; background: none;}
.news-column.style-3 .meta-post{ margin: 0;}

/****** Home Page 4 ***********************************************************
*********************************************************** Home Page 4 ******/
.caption-holder{ width: 100%; position: absolute; height: 100%; width: 100%; left: 0; top:0;}
.caption.style-3{ position: absolute; top: 350px; z-index: 1;}
.caption-img{ right: 0; position: absolute; top: 120px;}

.profile-section{ position: relative; margin: -150px 0 0 400px;}

.search-s{ padding-top: 120px; margin: -10px 0 0 400px; width:70%; height:40px;}


.event-slider-holder{ background: #4b4980; padding: 30px;}
.event-slider-holder{ overflow: hidden; }
.event-slider-holder h5{ color: #f8b239; font-weight: bold;}
.event-slider-holder h6{ font-size: 14px; color: #fff; font-weight: bold;}
.event-slider-holder p{ color: #fff;}
.event-slider-holder span{ color: #fff; float: right;}
.event-slider .owl-nav{ width: 40px; float: right; margin: 30px 0 0;}
.event-slider .owl-prev::before,
.event-slider .owl-next::before{ font-family: fontawesome; font-size: 20px; color: #f8b239;}
.event-slider .owl-prev::before{ content: "\f104";}
.event-slider .owl-next::before{ content: "\f105";}

.calendar.style-2 .datepicker{ border-radius: 0; background: #3b3970;}
.calendar.style-2 .datepicker table thead tr th, .calendar.style-2 .datepicker table tbody tr td{ padding: 7.8px 0;}

.testimonial.style-2{ position: absolute; top: -271px;}
.testimonial.style-2{ padding: 30px; background: #2c2a5c; border:0; text-align: center;}
.testimonial-aurthor{ margin: 0 0 30px; border-radius: 100%; overflow: hidden;}
.testimonial.style-2 p{ text-align: left; color: #fff; font-size: 16px;}
.signature{ float: left; margin: 30px 0 0;} 

.lecturers-column.style-3{ position: relative; text-align: center; border-radius: 4px; border: 1px solid #d9d9d9; overflow: hidden;} 
.lecturers-column.style-3:hover .overlay{ background: rgba( 45, 43, 94, 0.8)!important;}
.lecturers-column.style-3:hover .lectures-name{ background: #f8b239;}
.lecturers-column.style-3:hover img{ transform: scale(1.1);}
.lecturers-column.style-3 .overlay{ padding: 0 20px; background: none!important;}
.lecturers-column.style-3 .lectures-detail{ background: none; position: absolute; height: auto; bottom: 20px; left: 50%; margin: 0 0 0 -110px;}
.lecturers-column.style-3 .lectures-name{ padding: 20px; background: #3b3970;}
.lecturers-column.style-3 .lectures-name h5{ margin: 0; }
.lecturers-column.style-3 .lectures-name h5 i{ display: block; margin: 10px 0 0;}
.lecturers-column.style-3 .social-icons{ background: #fff; padding: 20px;}
.lecturers-column.style-3 .social-icons ul li{ margin: 0 0 0 15px;}
.lecturers-column.style-3 .social-icons ul li:first-child{ margin: 0;}

/* Gallery H0lder */
.filter-tags-holder{ text-align: center; margin: 0 0 40px;} 
.filter-tags-holder ul{ margin: 0 0 -4px; padding: 0; list-style: none; display: inline-block;}
.filter-tags-holder ul li{ float: left; margin: 0 0 0 20px;}
.filter-tags-holder ul li:first-child{ margin: 0;}
.filter-tags-holder ul li a{ color: #141414; font-size: 18px; text-transform: uppercase;
padding: 10px 15px; border-bottom: 2px solid transparent; font-family: 'Lato', sans-serif;}
.filter-tags-holder ul li a.selected{ border-bottom: 2px solid #f8b239;}

.masonry-grid{ overflow: hidden;}
.gallery-figure{ overflow: hidden; position: relative;}
.gallery-figure img{ width: 100%;}
.gallery-figure .overlay{ visibility: hidden; opacity: 0; top: -100%;} 
.gallery-figure:hover .overlay{ visibility: visible; opacity: 1; top: 0;}
.gallery-figure .overlay a{ color: #f8b239; height: 50px; width: 50px; line-height: 50px; text-align: center; border: 1px solid #fff;}

/****** Event With Sidebar ***********************************************************
*********************************************************** Event With Sidebar ******/
/* Inner Banner */
/* .inner-banner{ margin: -5px 0 0; padding: 70px 0 40px;} */
.inner-banner{ margin: -5px 0 0; padding: 70px 0 90px;}
/* Event Grid */
.event-grid{ border: 1px solid #cdcdcd; margin: 0 0 30px;}
.event-grid-detail{ padding: 30px 10px;}
.event-grid-detail ul{ margin: 0 0 40px;}
.event-grid-detail ul li{ margin: 0 0 20px; font-size: 13px;}
.event-grid-detail ul li:last-child{ margin: 0;}
.event-grid-detail ul li i{ padding: 5px; color: #e4e4eb; border-radius: 100%; height: 25px; width: 25px; line-height: 15px; text-align: center;
margin: 0 10px 0 0;}

/* Aside */
.aside-widget{ margin: 0 0 30px;}
.aside-widget h3{ font-size: 18px; font-weight: bold;}

.aside-search{ position: relative;}
.aside-search .form-control{ background: #ebebeb; border-radius: 30px;}
.aside-search a{ position: absolute; right: 0; top: 18px; color: #828282; padding: 0 15px; height: 100%;}

.aside-post ul li{ position: relative; padding: 0 0 0 135px; margin: 0 0 30px; min-height: 100px;}
.aside-post ul li:last-child{ margin: 0;}
.aside-post ul li h5{ font-size: 16px; text-transform: capitalize;}
.aside-post-img{ position: absolute; left: 0;}
.aside-post-img .dates{ position: absolute; top: 0; left: 0; border-radius: 0; height: 50px; width: 50px;}
.aside-post-img .dates span{ font-size: 16px; text-transform: capitalize; line-height: 17px;}

/****** Event Masonry Grid ***********************************************************
*********************************************************** Event Masonry Grid ******/
.simple-masonry .simple-masonry-grid{ margin: 0 0 30px;}

/****** Courses Grid ***********************************************************
*********************************************************** Courses Grid ******/
.courses-grid-holder .most-f-course{ margin: 0 0 30px;}

/****** Blog Masonary ***********************************************************
*********************************************************** Blog Masonary ******/
.video-post iframe{ width: 100%; height: 210px;}
.blockquote-grid{ position: relative; border: 1px solid #d8d8d8; padding: 30px;}
.blockquote-grid blockquote{ font-size: 30px; font-style: italic;}
.blockquote-grid .meta-post{ margin: 0;}
.blockquote-grid .dates{ position: absolute; right: 0; bottom: 0; border-radius: 0;}

/****** Blog Detail ***********************************************************
*********************************************************** Blog Detail ******/
.blog-detail-img{ position: relative; margin: 0 0 60px;}
.blog-detail-img .dates{ bottom: -40px; padding: 18px 0; height: 80px; width: 80px; border-radius: 0;}
.blog-detail-img .dates span{ font-size: 16px; text-transform: uppercase;}

.post-times-likes{ overflow: hidden;}
.post-times-likes span{ font-size: 16px; color: #3c3c3c;}
.post-times-likes ul li{ float: left; margin: 0 0 0 10px;}
.post-times-likes ul li:first-child{ margin: 0;}
.post-times-likes ul li i{ margin: 0 10px 0 0; color: #3c3c3c;}

.blog-article{ overflow: hidden; padding:  30px 0;}

.realted-tags{ width: 50%;}
.realted-tags li i{ float: left; line-height: 30px;}
.realted-tags li a{ float: left; font-size: 10px; margin: 0 0 0 10px; border: 1px solid #2c2c2c; height: 30px; line-height: 30px;
padding: 0 20px; border-radius: 20px;}
.social-icons{ margin: 0;} 
.tags-nd-social{ overflow: hidden;}

.comments-holder ul li{ position: relative; padding: 30px 0;}
.comments-holder ul li::before{ content: ""; position: absolute; bottom: 0; width: 70%; border-bottom: 1px solid #c5c5c5;}
.comments-holder ul li img{ border-radius: 100%; position: absolute; left: 0;}
.comment-text{ padding: 0 0 0 100px;}
.comment-text h5{ margin: 0 0 10px;}
.comment-text p:last-child{ margin: 0;}

.connect-with{ overflow: hidden;}
.connect-with li{ float: left; margin: 0 20px 0 0; text-transform: uppercase; color: #959595;}
.connect-with li a{ color: #959595;}

.leave-reply-form{ padding: 30px 0; overflow: hidden;}
.leave-reply-form .form-control{ padding: 0; border-bottom: 1px solid #e9e9e9; }
.leave-reply-form .form-group{ position: relative;}
.leave-reply-form .form-group i{ position: absolute; right: 0; top: 20px; color: #a3a3a3;}
.leave-reply-form .form-group.textarea-group i{ top: 30px;}
.leave-reply-form .btn{ margin: 40px 0 0;}

.aside-search.no-radius .form-control{ border-radius: 0;}

.Category-list ul li{ overflow: hidden; margin: 0 0 15px;}
.Category-list ul li:last-child{ margin: 0;}
.Category-list ul li a{ float: left; line-height: 30px; font-size: 16px; font-family: 'Lato', sans-serif; color: #252525;}
.Category-list ul li span{ float: right; padding: 5px; color: #fff;}
.Category-list ul li:hover a{ color: #f8b239;} 
.Category-list ul li:hover span{ background: #f8b239;} 

/****** Blog Listing ***********************************************************
*********************************************************** Blog Listing ******/
.blog-listing-widget{ margin: 0 0 30px;}
.listing-detail{ padding:  0 30px;}

/****** Course Detail ***********************************************************
*********************************************************** Course Detail ******/
.course-detail h2{ font-weight: bold;}
.course-detail-text{ padding: 0 0 60px;}
.course-detail-text p:last-child{ margin: 0;}

.curriculum-shedule{ margin: 0 0 30px;}
.curriculum-shedule:last-child{ margin: 0;}
.curriculum-shedule > ul{ border: 1px solid #000;}
.curriculum-shedule > ul > li{ overflow: hidden; padding: 15px; border-bottom: 1px solid #000;}
.curriculum-shedule > ul > li:last-child{ border: 0;}
.curriculum-shedule > ul li > span{ float: right; line-height: 30px; font-family: 'Lato', sans-serif; color: #3c3c3c;}
.curriculum-shedule ul li ul{ float: left;}
.curriculum-shedule ul li ul li{ float: left; margin: 0 0 0 20px; line-height: 30px;} 
.curriculum-shedule ul li ul li:first-child{ margin: 0;}
.sec-nu{ padding: 0 11px; line-height: 30px; height: 30px; font-weight: bold; border-radius: 100%; color: #fff!important; display: block;}

.course-reviews{ padding: 30px;}
.course-reviews .rating-stars{ overflow: hidden; margin: 0 0 30px;}
.course-reviews .rating-stars li:last-child{ color: #8d8bc0;}

.course-pro-detail li{ color: #fff; margin: 0 0 30px; font-size: 16px;} 
.course-pro-detail li:last-child{ margin: 0;}
.course-pro-detail li i{ margin: 0 10px 0 0; font-size: 20px;}
.course-pro-detail li span{ color: #f8b239;}

.featured-courses > ul > li{ position: relative; margin: 0 0 30px;}
.featured-courses > ul > li:last-child{ margin: 0;}
.featured-courses ul li img{ position: absolute; left: 0;}
.featured-courses ul li div{ padding: 0 0 0 135px;}
.featured-courses ul li div h5{ font-size: 13px; margin: 0 0 5px;}
.a-free-batch{ padding: 25px; line-height: 25px; padding: 0 30px; color: #fff; background: #f8b239; 
display: inline-block; text-transform: uppercase;}

.featured-courses ul li div .rating-stars{ overflow: hidden; margin: 0 0 7px;}

/****** Teacher Detail ***********************************************************
*********************************************************** Teacher Detail ******/
.lecturers-column.style-4{ overflow: visible;}
.lecturers-column.style-4 .lectures-detail{ bottom: -30px;}
.lecturers-column.style-4 .social-icons{ padding: 10px; background: #f2f2f2;}
.lecturers-column.style-4 .social-icons li a{ background: #fff;}
.lecturers-column.style-4 .overlay{ padding: 0 25px;}

/* Progress Bar */
.tc-skillgroup h4{ margin: 0;}
.tc-skillgroup{ float: left; width: 100%;}
.tc-skill{ float: left; width: 100%; margin: 0 0 30px;}
.tc-skill:last-child{ margin: 0;}
.tc-skillname{ display: block; font-size: 14px; font-weight: 600; line-height: 17px; padding: 0 0 10px;}
.tc-skillholder{ float: left; width: 100%; position: relative; background: #ececec;}
.tc-skillbar{ height: 25px; float: left; transition: none; position: relative; background: #f8b239;}
.tc-per{ right: -22px; top: -38px; height: 30px; width: 45px; color: #fff; font-size: 16px; font-weight: 600;
position: absolute; text-align: center; line-height: 30px;}
.tc-per::before{  content: ""; position: absolute;  top: 100%; left: 50%; margin: 0 0 0 -5px; width: 0px;
height: 0px; border-style: solid; border-width: 5px 5px 0 5px;}

.related-courses-tabs{}
.tc-tab-nav{ overflow: hidden; border-bottom: 3px solid; margin: 0 0 30px;}
.tc-tab-nav li{ float: left;}
.tc-tab-nav li a{ height: 48px; display: block; background: #f5f5f5; line-height: 48px; color: #333; text-transform: uppercase; 
font-family: 'Lato', sans-serif; padding: 0 30px;}
.tc-tab-nav li.active a{ color: #fff;}

/****** Event Detail ***********************************************************
*********************************************************** Event Detail ******/
.event-detail-img h2{ text-transform: capitalize; padding: 0 0 30px; margin: 0 0 30px; position: relative;}
.event-detail-img h2::before{ content: ""; position: absolute; bottom: 0; border-bottom: 2px solid; width: 70px;}

.event-profile{ padding: 45px 0;}

.event-profile-widget span{ display: block;}
.icon-heading h4{ line-height: 30px; color: #252525;}
.icon-heading h4 i{ color: #fff; margin: 0 10px 0 0; height: 25px; width: 25px; line-height: 25px; border-radius: 100%; text-align: center; 
font-size: 14px;}
.event-price span{ display: block; color: #f5a720; font-size: 18px; margin: 0 0 15px 50px;}

.event-speakers{ padding: 0 0 50px;}
.speakers-column{ padding: 30px; text-align: center; background: #f1f1f1;}
.speakers-column .teacher-img{ margin: 20px 0 30px;}
.speakers-column h3{ font-weight: bold; font-size: 25px; text-transform: capitalize;}
.speakers-column h3 i{ font-size: 14px; display: block; margin: 10px 0 0;}

.event-speakers-timings{ padding: 20px 0 0;}
.event-speakers-timings li{ margin: 0 0 30px; color: #252525; font-family: 'Lato', sans-serif;}
.event-speakers-timings li:last-child{ margin: 0;}
.event-speakers-timings li span{ display: block;}
.event-speakers-timings li span:first-child{ font-weight: bold;}

.description{ padding: 0 0 50px;}
.description p:last-child{ margin: 0;}

.event-loaction-map{ margin: 0 0 30px;}
.description h4,
.event-loaction-map h4,
.event-gallery h4{ font-weight: bold;}

.event-map{ height: 240px; }

.event-gallery .gallery-figure{ margin: 0 0 30px;}

.aside-post.style-2 ul li{ padding-left: 100px;}
.aside-post.style-2 ul li h5{ text-transform: lowercase; font-size: 14px; margin: 0 0 10px; padding: 8px 0 0;}
.aside-post.style-2 ul li h5 span{ font-style: italic; color: #959595; font-size: 12px;}

/****** Contact ***********************************************************
*********************************************************** Contact ******/
.contact-holder{ position: relative;}
.contact-map{ height: 700px;}
.contact-form-holder{ position: absolute; height: 100%; right: 0;}

.leave-reply-form.style-2{ padding: 1px 0 0;}
.leave-reply-form.style-2 .form-control{ border: 1px solid #959595; padding: 0 20px;}
.leave-reply-form.style-2 .form-group i{ right: 10px; }
.leave-reply-form.style-2 .textarea-group i{ top: 15px; right: 10px; }
.contact-form p{ font-size: 18px; color: #959595;}
.contact-form .btn{ margin: 0;}

.contact-info{ padding: 40px; left: -170px; font-family: 'Lato', sans-serif;}
.address-list{ margin: 0 0 130px;}
.address-list li{ color: #fff; font-size: 16px; margin: 0 0 10px;}
.address-list li:last-child{ margin: 0;}
.address-list li i{ margin: 0 10px 0 0;}

.social-icon-2 li{ float: left; margin: 0 0 0 20px;}
.social-icon-2 li:first-child{ margin: 0;}
.social-icon-2 li a{ font-size: 18px; color: #fff;}
.social-icon-2 li a:hover{ color: #f8b239;}	

/****** Teachers Grid ***********************************************************
*********************************************************** Teachers Grid ******/
.teachers-grid .lecturers-column.style-3{ margin: 0 0 30px;}

/****** Gallery ***********************************************************
*********************************************************** Gallery ******/

/*Chat*/

#contenedor{
	width: 40%;
	background: #fff;
	margin: 0 auto;
	padding: 20px;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-o-border-radius: 12px;
	-webkit-border-radius: 12px;
	
}

#caja-chat{
	width: 90%;
	height: 400px;
}

#datos-chat{
	width: 100%;
	padding: 5px;
	margin-bottom: 5px;
	border-bottom:  1px solid silver;
	font-weight: bold;
	font-family: 'Mukta Vaani', sans-serif;
}



input[type='submit']{
	width: 100%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor:pointer;
}

#textarea{
	width: 100%;
	height: 100px;
	border: 1px solid gray;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input, textarea{
	margin-bottom: 3px;
}
