<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">



<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />
	<!-- Document Title -->
	<title>Exprim-U</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../static/images/logo-1.png"  th:href="@{/images/logo-1.png}" type="image/x-icon"  >
	<!-- StyleSheets -->
	<link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
	<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/color.css" th:href="@{/css/color.css}">
	<link rel="stylesheet" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" href="../static/css/transition.css" th:href="@{/css/transition.css}">


	<!-- FontsOnline -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
	 type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
	 rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<!-- JavaScripts -->
	<script src="../static/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

	<!-- Wrapper -->
	<div class="wrapper">

		<!-- Header -->
		<header>

			<!-- Top Bar -->
			<div class="top-bar">
				<div class="container-fluid">

					<!-- Topbar Left -->
					<div class="topbar-left">
						<h1 class="font-playfair animated fadeInUp delay-1s titleHeader">Bienvenue sur Exprim-U</h1>
					</div>
					<!-- Topbar Left -->

					
					<!-- Topbar right -->
					<div class="topbar-right cart col-md-1">
						<div th:if="${name}!=null">
							 <div th:replace="fragments/header::header"></div>
						</div>
					</div>
					<!-- Topbar right -->

				</div>
			</div>
			<!-- Top Bar -->

			<!-- Nav -->
			<nav class="nav-holder">
				<div class="container">

					<div class="logo col-sm-2">
						<a href="index.html" th:href="@{/index}"><img src="../static/images/logo-1.png" th:src="@{/images/logo-1.png}"
							 alt="Bienvenue chez Exprim-U"></a>
					</div>

					<!-- Nav List -->
					<div class="nav-list style col-sm-10">
						<ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<li>
								<a href="index.html" th:href="@{/index}">Accueil</a>
							</li>
							<li>
								<a href="index.html#actualite" th:href="@{/index#actualite}">Actualités</a>
							</li>
							<li><a href="publication.html" th:href="@{/publication}">Publications</a>
								<ul>
									<li><a href="videoconferences.html" th:href="@{/videoconferences}">Vidéo-conférences</a></li>
								</ul>
							</li>
							<li>
								<a href="quisommesnous.html" th:href="@{/quisommesnous}">Qui sommes-nous</a>
							</li>
							<li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
						</ul>
						</ul>
					</div>
					<!-- Nav List -->

					<!-- Responsive Buttun -->
					<a class="navbar-btn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars"></i></a>
					<!-- Responsive Buttun -->

				</div>
			</nav>
			<!-- Nav -->

			<!-- Inner Banner -->
			<div class="inner-banner parallax-window" data-parallax="scroll" data-image-src="">
				<div class="main-heading-holder">
					<div class="main-heading gray-color p-0">
						<h2><em>Détail-Actualité</em><span>D-A</span></h2>
						<span class="sperater">
							<i></i>
							<i class="active"></i>
							<i></i>
						</span>
						<div class="tc-breadcrumb">
							<ul>
								<li>Acceuil</li>
								<li><a href="#">Détail-Actualité</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Inner Banner -->

		</header>
		<!-- Header -->

		


<!-- main Content -->
	<main class="main-content">

		<!-- Event Detail -->
		<div class="white-bg">
			<div class="container">
			<div style="float: left"><img src="../static/images/u49.jpg" th:src="@{/images/u49.jpg}" hspace="30" vspace="10" width="400px" height="400px"  alt="miniature publication"></div>
			<div><p align="justify" class="font-lato">Lorem ipsum dolor sit amet consectetur adipiscing elit, eleifend platea suscipit maecenas id justo imperdiet, mi purus facilisis mauris nisi dignissim. Malesuada torquent donec litora ad interdum dictumst varius tempus tincidunt posuere diam turpis ultrices leo hendrerit fames suscipit, habitasse vehicula porttitor primis integer aliquam aptent praesent inceptos nunc massa aliquet pellentesque duis sociosqu. Ultricies sapien conubia aliquam vulputate consequat venenatis scelerisque cum, porta nisl ac cras tincidunt litora euismod hendrerit odio, a nascetur class himenaeos placerat montes lacus.<br><br>
				
				Sapien nam mus purus fermentum curae ridiculus platea mollis augue, suscipit rhoncus inceptos nascetur tellus orci porttitor in sodales blandit, auctor ultricies praesent placerat cras vitae mi quisque. Libero augue mollis cursus condimentum fringilla class penatibus sapien eu nec, quam duis habitasse sociis imperdiet et turpis integer vulputate conubia, phasellus purus risus viverra fames arcu ullamcorper nulla leo. Egestas quisque eleifend fringilla fermentum diam consequat laoreet vehicula, mollis bibendum aenean pharetra cras vel curae torquent, class rutrum enim urna leo molestie quis.<br><br>
				
				Sapien nam mus purus fermentum curae ridiculus platea mollis augue, suscipit rhoncus inceptos nascetur tellus orci porttitor in sodales blandit, auctor ultricies praesent placerat cras vitae mi quisque. Libero augue mollis cursus condimentum fringilla class penatibus sapien eu nec, quam duis habitasse sociis imperdiet et turpis integer vulputate conubia, phasellus purus risus viverra fames arcu ullamcorper nulla leo. Egestas quisque eleifend fringilla fermentum diam consequat laoreet vehicula, mollis bibendum aenean pharetra cras vel curae torquent, class rutrum enim urna leo molestie quis.<br><br>
				
				Sapien nam mus purus fermentum curae ridiculus platea mollis augue, suscipit rhoncus inceptos nascetur tellus orci porttitor in sodales blandit, auctor ultricies praesent placerat cras vitae mi quisque. Libero augue mollis cursus condimentum fringilla class penatibus sapien eu nec, quam duis habitasse sociis imperdiet et turpis integer vulputate conubia, phasellus purus risus viverra fames arcu ullamcorper nulla leo. Egestas quisque eleifend fringilla fermentum diam consequat laoreet vehicula, mollis bibendum aenean pharetra cras vel curae torquent, class rutrum enim urna leo molestie quis.<br><br>
				
				Sapien nam mus purus fermentum curae ridiculus platea mollis augue, suscipit rhoncus inceptos nascetur tellus orci porttitor in sodales blandit, auctor ultricies praesent placerat cras vitae mi quisque. Libero augue mollis cursus condimentum fringilla class penatibus sapien eu nec, quam duis habitasse sociis imperdiet et turpis integer vulputate conubia, phasellus purus risus viverra fames arcu ullamcorper nulla leo. Egestas quisque eleifend fringilla fermentum diam consequat laoreet vehicula, mollis bibendum aenean pharetra cras vel curae torquent, class rutrum enim urna leo molestie quis.<br><br>
				
				Sapien nam mus purus fermentum curae ridiculus platea mollis augue, suscipit rhoncus inceptos nascetur tellus orci porttitor in sodales blandit, auctor ultricies praesent placerat cras vitae mi quisque. Libero augue mollis cursus condimentum fringilla class penatibus sapien eu nec, quam duis habitasse sociis imperdiet et turpis integer vulputate conubia, phasellus purus risus viverra fames arcu ullamcorper nulla leo. Egestas quisque eleifend fringilla fermentum diam consequat laoreet vehicula, mollis bibendum aenean pharetra cras vel curae torquent, class rutrum enim urna leo molestie quis.</p>
				
				</div>



				
				
			</div>


					
	  </div>

</main>
		<!-- Event Detail -->


		
		

		<!-- Event Detail -->
		<div class="white-bg">
			<div class="container">
				<br>
				<h2>documents PartagÉs</h2>
				<br>
			</div>


		<!-- Lastest news -->
		<section class="lastest-news style-2">
			<div class="container font-lato">
					<table width="100%" border="1">
					<tr>
					<td>
					<table align="center" width="95%">
					  <tr>
						<td><br><h2><img src="../static/images/document.png" th:src="@{/images/document.png}"  alt="image fichier"><link rel="import" href="/path/to/imports/stuff.html"></h2></td>
						<td><br><h2><img src="../static/images/document.png" th:src="@{/images/document.png}" alt="image fichier"></h2></td>
						<td><br><h2><img src="../static/images/document.png" th:src="@{/images/document.png}" alt="image fichier"></h2></td>
					  </tr>
					  <tr>
						<td>
							<table width="100%">
								<tr>
									<td><b>Aide.pdf</b> </td>
								</tr>
								<tr>
									<td width="60%"><p>29 Mo</p> </td>
								</tr>
							</table>
							
						</td>
						<td>
							<table width="100%">
								<tr>
									<td><b>Aide.pdf</b> </td>
								</tr>
								<tr>
									<td width="60%"><p>29 Mo</p></td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<td><b>Aide.pdf</b> </td>
								</tr>
								<tr>
									<td width="60%"><p>29 Mo</p></td>
								</tr>
							</table>
						</td>
					  </tr>
					</table>
					</td>
					</tr>
				</table>
						<div class="form-group col-md-12 m-0" align="right">
					  	<br>
						<a th:href="@{/index.html}"><button type="submit" class="btn form-btn">retourner à l'accueil</button></a>
						</div>
			  <!-- Lastest news Columns -->

			</div>
					<br>
					<br>
		</section>
		<!-- Lastest news -->
		</div>
		<!-- Event Detail -->


	</main>
	<!-- main Content -->


			<!-- Footer -->
			<div class="footer tc-padding-top">

				<!-- Newslatter Nd Columns -->
				<div class="container">
	
	
	
					<!-- Footer Columns -->
					<div>
						<div class="row">
	
							<!-- Column -->
							<div class="col-sm-5">
								<div class="footer-c-widget logo-widget p-white">
									<img src="../static/images/footer-logo.png"  th:src="@{/images/footer-logo.png}" alt="image ExprimU footer">
									<p align="justify">Exprim-U réalise un projet qui servira en premier lieu aux étudiants ou les universités qui
										ont peu de ressources afin de suivre des cours proposés par des professeurs bénévoles qui souhaitent améliorer
										l'aspect éducatif.</p>
									<div class="social-icons">
										<ul>
											<li><a class="fa fa-facebook" href="#"></a></li>
											<li><a class="fa fa-instagram" href="#"></a></li>
											<li><a class="fa fa-google-plus" href="#"></a></li>
											<li><a class="fa fa-twitter" href="#"></a></li>
										</ul>
									</div>
								</div>
							</div>
							<!-- Column -->
							<div class="col-sm-1">
							</div>
	
	
							<!-- Column -->
							<div class="col-sm-2">
								<div class="footer-c-widget h-white list-widget">
									<h3>SITEMAP</h3>
									<ul>
										<li><a th:href="@{/index}">Accueil</a></li>
										<li><a th:href="@{/index#actualite}">Actualité</a></li>
										<li><a th:href="@{/publication}">Publications</a></li>
										<li><a th:href="@{/quisommesnous}">Qui sommes-nous</a></li>
										<li><a th:href="@{/contact}">Contact</a></li>
									</ul>
								</div>
							</div>
							<!-- Column -->
	
							<!-- Column -->
							<div class="col-sm-4">
								<div class="footer-c-widget h-white address-list">
									<h3>Contact</h3>
									<ul>
										<li><i class="fa fa-map-marker"></i>Pole Université de Vichy</li>
										<li><i class="fa fa-mobile"></i>++ 33 6 28 75 86 78</li>
										<li><i class="fa fa-envelope-o"></i>projet.exprimu18@gmail.com</li>
									</ul>
								</div>
							</div>
							<!-- Column -->
	
						</div>
					</div>
					<!-- Footer Columns -->
	
				</div>
				<!-- Newslatter Nd Columns -->
	
	
	
				<!-- Sub Footer -->
				<div class="sub-footer p-white text-center">
					<p>© Copyright 2019. Tous droits réservés.</p>
				</div>
				<!-- Sub Footer -->
	
			</div>
			<!-- Footer -->

	</div>
	<!-- Wrapper -->

	<!-- Java Script -->
	<script src="../static/js/vendor/jquery.js" th:src=@{/js/vendor/jquery.js} ></script>
	<script src="../static/js/vendor/bootstrap.min.js" th:src=@{/js/vendor/bootstrap.min.js}></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="../static/js/gmap3.min.js" th:src=@{/js/gmap3.min.js}></script>
	<script src="../static/js/datepicker.js" th:src=@{/js/datepicker.js}></script>
	<script src="../static/js/contact-form.js" th:src=@{/js/contact-form.js}></script>
	<script src="../static/js/parallax.js" th:src=@{/js/parallax.js}></script>
	<script src="../static/js/countdown.js" th:src=@{/js/countdown.js}></script>
	<script src="../static/js/countTo.js" th:src=@{/js/countTo.js}></script>
	<script src="../static/js/owl-carousel.js" th:src=@{/js/owl-carousel.js}></script>
	<script src="../static/js/appear.js" th:src=@{/js/appear.js}></script>
	<script src="../static/js/sticky.js" th:src=@{/js/sticky.js}></script>
	<script src="../static/js/prettyPhoto.js" th:src=@{/js/prettyPhoto.js}></script>
	<script src="../static/js/isotope.pkgd.js" th:src=@{/js/isotope.pkgd.js}></script>
	<script src="../static/js/wow-min.js" th:src=@{/js/wow-min.js}></script>
	<script src="../static/js/main.js" th:src=@{/js/main.js}></script>
	<!-- Script pour popover profil-->
<script>
$("[data-toggle=popovers]").each(function (i, obj) {

	$(this).popover({
		html: true,
		content: function () {
			var id = $(this).attr('id')
			return $('#popover-' + id).html();
		}
	});

});
 </script>
 <!-- End Script pour popover profil--->
</body>



</html>