<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<!-- xmlns:sec="http://www.thymeleaf.org/extras/spring-security"> -->

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="" />
	<!-- Document Title -->
	<title>Exprim-U</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="../static/images/logo-1.png" th:href="@{/images/logo-1.png}" type="image/x-icon">
	<!-- StyleSheets -->
	<link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
	<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/color.css" th:href="@{/css/color.css}">
	<link rel="stylesheet" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" href="../static/css/transition.css" th:href="@{/css/transition.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/util.css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" href="../static/css/main2.css" th:href="@{/css/main2.css}">

	<!-- FontsOnline -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
	 type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'
	 rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

	<!-- JavaScripts -->
	<script src="../static/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<!-- Wrapper -->
	<div class="wrapper">

		<!-- Header -->
		<header>

			<!-- Top Bar -->
			<div class="top-bar style-2">
				<div class="container">
					<div class="topbar-left">
						<h1 class="font-playfair animated fadeInUp delay-1s">Bienvenue sur Exprim-U</h1>
					</div>




					<!-- Topbar right -->
					<div class="topbar-right">
						<!-- 					<div th:if="${name}==null"> -->
						<!--                 					<div class="cart" th:replace="fragments/header::header"></div> -->
						<!--                		 </div> -->

						<!-- 						<div -->
						<!-- 							th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}"> -->
						<!-- 							<div th:case="${false}"> -->
						<!-- 								<a class="btn"  th:href="@{/connexion}"  >Connexion</a> -->
						<!-- 								<a class="btn"  th:href="@{/inscription}" >S'inscrire</a> -->
						<!-- 							</div> -->
						<!-- 							<div th:case="${true}"> -->
						<!-- 							 	<div class="cart" th:replace="fragments/header::header"></div> -->
						<!-- 							 </div> -->
						<!-- 						</div> -->

						<ul>
							<li>
								<div>
									<a class="btn" th:href="@{/connexion}" th:if="${name}==null">Connexion</a>
									<a class="btn" th:href="@{/inscription}" th:if="${name}==null">S'inscrire</a>
								</div>

							</li>
						</ul>
						<div th:if="${name}!=null" >
							<div class="cart" th:replace="fragments/header::header" ></div>
						</div>

						<!-- Topbar right -->


					</div>
				</div>
				<!-- Top Bar -->

				<!-- Nav -->
				<nav class="nav-holder style-2" align="right">
					<div class="container">

						<div class="logo col-sm-2">
							<a href="index.html" th:href="@{/index}"><img src="../static/images/logo-1.png" th:src="@{/images/logo-1.png}"
								 alt="Bienvenue chez Exprim-U"></a>
						</div>

						<!-- Nav List -->
						<div class="nav-list style col-sm-10">
							<ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
								<li>
									<a href="index.html" th:href="@{/index}">Accueil</a>
								</li>
								<li>
									<a href="index.html#actualite" th:href="@{/index#actualite}">Actualités</a>
								</li>
								<li><a href="publication.html" th:href="@{/publication}">Publications</a>
									<ul>
										<li><a href="videoconferences.html" th:href="@{/videoconferences}">Vidéo-conférences</a></li>
									</ul>
								</li>
								<li>
									<a href="quisommesnous.html" th:href="@{/quisommesnous}">Qui sommes-nous</a>
								</li>
								<li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
							</ul>
						</div>
						<!-- Nav List -->

						<!-- Logo
				<div class="logo">
					<a href="index-2.html"><img src="../static/images/logo-1.png" alt=""></a>
				</div>
				 -->

						<!-- Responsive Buttun -->
						<a class="navbar-btn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars"></i></a>
						<!-- Responsive Buttun -->

					</div>
				</nav>
				<!-- Nav -->

				<!-- Animated Slider -->
				<div id="animated-sldier" class="carousel slide carousel-fade m-0">

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">

						<!-- Item 1 -->
						<div class="item active">
							<img src="../static/images/banner/banner-bg-3.jpg" th:src="@{/images/banner/banner-bg-3.jpg}" alt="image banner-bg-2">
							<div class="caption-holder">
								<div class="container p-relative">
									<div class="caption style-3 h-white p-white">
										<h1 class="font-playfair animated fadeInUp delay-1s">une plateforme de partage de<span>connaissances</span></h1>
										<p class="animated fadeInDown delay-2s font-lato">Pour toutes les personnes désirant se former.</p>

										<!-- Event, search -->
										<div class="container">
											<form class="search-s">
												<input type="search" placeholder="Faites vos recherches" name="recherche" style="width:55%; height:40px;">
												<a class="btn btn-search" href="#" style="color:#f7b139;">Rechercher &nbsp;&nbsp;<i class="fa fa-search"></i></a>
											</form>
										</div>

										<!-- Event, End search -->
									</div>
								</div>
							</div>
						</div>
						<!-- Item 1 -->

					</div>
					<!-- Wrapper for slides -->

					<!-- Nan Control -->
					<!--  <a class="slider-nav next" href="#animated-sldier" data-slide="prev"><i class="fa fa-long-arrow-right"></i></a>
			<a class="slider-nav prev" href="#animated-sldier" data-slide="next"><i class="fa fa-long-arrow-left"></i></a> -->
					<!-- Nan Control -->
				</div>
				<!-- Animated Slider -->

		</header>
		<!-- Header -->

		<!-- main Content -->
		<main class="main-content">

			<!-- Our Features Style 2 -->
			<section class="our-features style-2 tc-padding white-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-7 col-lg-6">
							<div class="about-img">
								<img src="../static/images/u49.jpg" th:src="@{/images/u49.jpg}" alt="Exprim-U" style="max-width: 500px; max-height: 500px">
							</div>
						</div>
						<div class="col-md-5 col-lg-6">
							<h3 align="justify">objectifs de la PLATeFORME?</h3>
							<h4 align="justify">• Partage</h4>
							<p class="font-lato" align="justify">Partager des connaissances dans tous les domaines possibles</p>
							<h4 align="justify">• QualitÉ</h4>
							<p class="font-lato" align="justify">Promouvoir des contenues éducatifs de haute qualité.</p>
							<h4 align="justify">• AccesibilitÉ</h4>
							<p class="font-lato" align="justify">Donner l'accès à des connaissances sans frontières des langues ou des
								fuseaux horaires.</p>
						</div>
					</div>
				</div>

			</section>
			<!-- Our Features Style 2 -->

			<!-- Center Achievements -->
			<section id="actualite" class="facts-section tc-padding overlay-blue parallax-window" data-parallax="scroll"
			 data-image-src="../static/images/parallax-bg/img-02.jpg">
				<div class="container">

					<!-- main Headeing -->
					<div class="main-heading-holder">
						<div class="main-heading white-heading p-white">
							<h2><em>actualitÉs</em><span>A</span></h2>
							<span class="sperater">
								<i></i>
								<i class="active"></i>
								<i></i>
							</span>
							<p class="font-lato">Ce qu'il se passe et que vous ne devez pas rater.</p>
							<p>&nbsp;</p>
						</div>
					</div>
					<!-- main Headeing -->

					<!-- Lastest news -->
					<section class="lastest-news style-2">
						<div class="container">



							<!-- Lastest news Columns -->
							<div class="news-slider">

								<!-- News Column -->
								<div class="item" th:each="c:${contenus}">
									<div class="news-column">
										<div class="news-img">
											<img width=100% 
									th:src="@{getPhoto(id=${c.idContenu})}" alt="actualite Exprim-U">
											<strong class="dates">
												<span th:text="${#dates.format(c.dateCreation, 'dd-MMM')}"></span>
											</strong>
											<div class="overlay">
												<a class="position-center-center" th:href="@{getMoreDetail(id=${c.idContenu})}">Regarder tout</a>
											</div>
										</div>
										<div class="news-detail">
											<h5  th:text="${c.titre}"></h5>
											<ul class="tags-list">
												<li><i class="glyph-icon flaticon-shopping-label"></i><span th:text="${c.typeContenu}"></span></li>
											</ul>
											<p th:text="${c.descriptif}"> </p>
								<ul class="meta-post">
									<li th:each="user:${c.utilisateur}">Publié par 
									
										<span th:text="${user.username}"> </span>
																			 
										
										</li>
								</ul>
											
										</div>
									</div>
								</div>


					<!-- Blog Masonry Grid -->

						</div>
					</section>
					<!-- Lastest news -->

				</div>
			</section>
			<!-- Center Achievements -->

			<!-- Our Featured Courses -->
			<section class="tc-padding o-featured-courses white-bg">
				<div class="container">

					<!-- main Headeing -->
					<div class="main-heading-holder">
						<div class="main-heading gray-color">
							<h2><em>les plus populaires</em><span>P</span></h2>
							<span class="sperater">
								<i></i>
								<i class="active"></i>
								<i></i>
							</span>
						</div>
					</div>
					<!-- main Headeing -->
					<!-- Lecturers Team -->
					<div class="lecturers-team-slider g-margin">

						<!--  Lecturers Style 3 -->
						<div class="item">
							<div class="lecturers-column style-3">
								<img src="../static/images/lectures-3/img-01.jpg" th:src="@{/images/lectures-3/img-01.jpg}" alt="Exprim-U">
								<div class="overlay">
									<div class="lectures-detail h-white">
										<div class="lectures-name">
											<h5>Manuela Pajares<i>Psychologiste</i></h5>
										</div>
										<div class="social-icons m-0">
											<ul>
												<li><a class="fa fa-facebook" href="#"></a></li>
												<li><a class="fa fa-instagram" href="#"></a></li>
												<li><a class="fa fa-google-plus" href="#"></a></li>
												<li><a class="fa fa-twitter" href="#"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  Lecturers Style 3 -->

						<!--  Lecturers Style 3 -->
						<div class="item">
							<div class="lecturers-column style-3">
								<img src="../static/images/lectures-3/img-02.jpg" th:src="@{/images/lectures-3/img-02.jpg}" alt="Exprim-U">
								<div class="overlay">
									<div class="lectures-detail h-white">
										<div class="lectures-name">
											<h5>Emma DeLaCroix<i>Professeure de Français</i></h5>
										</div>
										<div class="social-icons m-0">
											<ul>
												<li><a class="fa fa-facebook" href="#"></a></li>
												<li><a class="fa fa-instagram" href="#"></a></li>
												<li><a class="fa fa-google-plus" href="#"></a></li>
												<li><a class="fa fa-twitter" href="#"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  Lecturers Style 3 -->

						<!--  Lecturers Style 3 -->
						<div class="item">
							<div class="lecturers-column style-3">
								<img src="../static/images/lectures-3/img-03.jpg" th:src="@{/images/lectures-3/img-03.jpg}" alt="Exprim-U">
								<div class="overlay">
									<div class="lectures-detail h-white">
										<div class="lectures-name">
											<h5>Bernhard Lötze<i>Ingénieur de Méthodes</i></h5>
										</div>
										<div class="social-icons m-0">
											<ul>
												<li><a class="fa fa-facebook" href="#"></a></li>
												<li><a class="fa fa-instagram" href="#"></a></li>
												<li><a class="fa fa-google-plus" href="#"></a></li>
												<li><a class="fa fa-twitter" href="#"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  Lecturers Style 3 -->

						<!--  Lecturers Style 3 -->
						<div class="item">
							<div class="lecturers-column style-3">
								<img src="../static/images/lectures-3/img-04.jpg" th:src="@{/images/lectures-3/img-04.jpg}" alt="Exprim-U">
								<div class="overlay">
									<div class="lectures-detail h-white">
										<div class="lectures-name">
											<h5>Elena DiMarinis<i>Programmatrice PHP</i></h5>
										</div>
										<div class="social-icons m-0">
											<ul>
												<li><a class="fa fa-facebook" href="#"></a></li>
												<li><a class="fa fa-instagram" href="#"></a></li>
												<li><a class="fa fa-google-plus" href="#"></a></li>
												<li><a class="fa fa-twitter" href="#"></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--  Lecturers Style 3 -->

					</div>
					<!-- Lecturers Team -->


				</div>
			</section>
			<!-- Our Featured Courses -->


		</main>
		<!-- main Content -->

		<!-- Footer -->
		<div class="footer tc-padding-top">

			<!-- Newslatter Nd Columns -->
			<div class="container">



				<!-- Footer Columns -->
				<div>
					<div class="row">

						<!-- Column -->
						<div class="col-sm-5">
							<div class="footer-c-widget logo-widget p-white">
								<img src="../static/images/footer-logo.png"  th:src="@{/images/footer-logo.png}" alt="image ExprimU footer">
								<p align="justify">Exprim-U réalise un projet qui servira en premier lieu aux étudiants ou les universités qui
									ont peu de ressources afin de suivre des cours proposés par des professeurs bénévoles qui souhaitent améliorer
									l'aspect éducatif.</p>
								<div class="social-icons">
									<ul>
										<li><a class="fa fa-facebook" href="#"></a></li>
										<li><a class="fa fa-instagram" href="#"></a></li>
										<li><a class="fa fa-google-plus" href="#"></a></li>
										<li><a class="fa fa-twitter" href="#"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Column -->
						<div class="col-sm-1">
						</div>


						<!-- Column -->
						<div class="col-sm-2">
							<div class="footer-c-widget h-white list-widget">
								<h3>SITEMAP</h3>
								<ul>
									<li><a th:href="@{/index}">Accueil</a></li>
									<li><a th:href="@{/index#actualite}">Actualité</a></li>
									<li><a th:href="@{/publication}">Publications</a></li>
									<li><a th:href="@{/quisommesnous}">Qui sommes-nous</a></li>
									<li><a th:href="@{/contact}">Contact</a></li>
								</ul>
							</div>
						</div>
						<!-- Column -->

						<!-- Column -->
						<div class="col-sm-4">
							<div class="footer-c-widget h-white address-list">
								<h3>Contact</h3>
								<ul>
									<li><i class="fa fa-map-marker"></i>Pole Université de Vichy</li>
									<li><i class="fa fa-mobile"></i>++ 33 6 28 75 86 78</li>
									<li><i class="fa fa-envelope-o"></i>projet.exprimu18@gmail.com</li>
								</ul>
							</div>
						</div>
						<!-- Column -->

					</div>
				</div>
				<!-- Footer Columns -->

			</div>
			<!-- Newslatter Nd Columns -->



			<!-- Sub Footer -->
			<div class="sub-footer p-white text-center">
				<p>© Copyright 2019. Tous droits réservés.</p>
			</div>
			<!-- Sub Footer -->

		</div>
		<!-- Footer -->

	</div>
	<!-- Wrapper -->

	<!-- Java Script -->
	<script src="../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
	<script src="../static/js/vendor/bootstrap.min.js" th:src="@{/js/vendor/bootstrap.min.js}"></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="../static/js/gmap3.min.js" th:src="@{/js/gmap3.min.js}"></script>
	<script src="../static/js/datepicker.js" th:src="@{/js/datepicker.js}"></script>
	<script src="../static/js/contact-form.js" th:src="@{/js/contact-form.js}"></script>
	<script src="../static/js/parallax.js" th:src="@{/js/parallax.js}"></script>
	<script src="../static/js/countdown.js" th:src="@{/js/countdown.js}"></script>
	<script src="../static/js/countTo.js" th:src="@{/js/countTo.js}"></script>
	<script src="../static/js/owl-carousel.js" th:src="@{/js/owl-carousel.js}"></script>
	<script src="../static/js/appear.js" th:src="@{/js/appear.js}"></script>
	<script src="../static/js/sticky.js" th:src="@{/js/sticky.js}"></script>
	<script src="../static/js/prettyPhoto.js" th:src="@{/js/prettyPhoto.js}"></script>
	<script src="../static/js/isotope.pkgd.js" th:src="@{/js/isotope.pkgd.js}"></script>
	<script src="../static/js/wow-min.js" th:src="@{/js/wow-min.js}"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
	<script>
		jQuery(document).ready(function ($) {
			// rotate circle functions
			var a = -($('.cirlec-slider-bg').width() / 2);
			var b = $('.cirlec-slider-bg .f-courses').length;
			var c = 360 / b;
			rotateCircle(c, 'domReady');

			$(".cirlec-slider-bg").on("click", ".f-courses", function (e) {
				if ($(this).hasClass('active')) { } else {
					$('.cirlec-slider-bg .f-courses').removeClass("active");
					$(this).addClass('active');
					var dataAngle = parseInt($(this).attr('data-angle'));
					var maxangle = 360 - dataAngle;
					rotateCircle(maxangle, 'onitemClick')
				}

			});

			function rotateCircle(maxangle, type) {
				$('.cirlec-slider-bg .f-courses').each(function (index) {
					if (type == 'onitemClick') {
						var maxAngle = maxangle;
						var dataAngle2 = parseInt($(this).attr('data-angle'));
						var maxangle2 = dataAngle2 + maxAngle;
						var d = (index) * c;
					}
					if (type == 'domReady') {
						var maxAngle = maxangle;
						var maxangle2 = (index) * maxAngle;
					}

					var m = [
						"translate(-50%, -50%) rotate(", -90, "deg) translateY(" + a + "px) rotate(", 90, "deg)"
					];
					m[1] = maxangle2;
					m[3] = 0 - maxangle2;
					$(this).css({
						"transform": m.join("")
					});
					$(this).attr('data-angle', maxangle2);
				})
			}
		});
	</script>
	<!-- Script pour popover profil-->
	<script>
		$("[data-toggle=popovers]").each(function (i, obj) {

			$(this).popover({
				html: true,
				content: function () {
					var id = $(this).attr('id')
					return $('#popover-' + id).html();
				}
			});

		});
	</script>
	<!-- End Script pour popover profil--->
</body>


</html>