<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" >

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content=""/>
<!-- Document Title -->
<title>Exprim-U</title>


<!-- Favicon -->
	<link rel="shortcut icon" href="../static/images/logo-1.png"  th:href="@{/images/logo-1.png}" type="image/x-icon">
	<!-- StyleSheets -->
	<link rel="stylesheet" href="../static/css/bootstrap/bootstrap.min.css" th:href="@{/css/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}">
	<link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}">
	<link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
	<link rel="stylesheet" href="../static/css/flaticon.css" th:href="@{/css/flaticon.css}">
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
	<link rel="stylesheet" href="../static/css/color.css" th:href="@{/css/color.css}">
	<link rel="stylesheet" href="../static/css/responsive.css" th:href="@{/css/responsive.css}">
	<link rel="stylesheet" href="../static/css/transition.css" th:href="@{/css/transition.css}">

<!-- FontsOnline -->
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

<!-- JavaScripts -->
<script src="../static/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>

<!-- Wrapper -->
<div class="wrapper">

	<!-- Header -->
	<header>

			<!-- Top Bar -->
			<div class="top-bar">
				<div class="container-fluid">

					<!-- Topbar Left -->
					<div class="topbar-left">
						<h1 class="font-playfair animated fadeInUp delay-1s titleHeader">Bienvenue sur Exprim-U</h1>
					</div>
					<!-- Topbar Left -->

					<!-- Topbar right -->
					<div class="topbar-right cart col-md-1">
					<div th:if="${name}!=null">
						 <div th:replace="fragments/header::header"></div>
					</div>
					</div>
					<!-- Topbar right -->

				</div>
			</div>
			<!-- Top Bar -->

			<!-- Nav -->
			<nav class="nav-holder">
				<div class="container">

					<div class="logo col-sm-2">
						<a href="index.html" th:href="@{/index}"><img src="../static/images/logo-1.png"  th:src="@{/images/logo-1.png}" alt="logo Exprim-U logo-1"></a>
					</div>

					<!-- Nav List -->
					<div class="nav-list style col-sm-10">
						<ul class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<li>
								<a href="index.html" th:href="@{/index}">Accueil</a>
							</li>
							<li>
								<a href="index.html#actualite" th:href="@{/index#actualite}">Actualités</a>
							</li>
							<li><a href="publication.html" th:href="@{/publication}">Publications</a>
								<ul>
									<li><a href="videoconferences.html" th:href="@{/videoconferences}">Vidéo-conférences</a></li>
								</ul>
							</li>
							<li>
								<a href="quisommesnous.html" th:href="@{/quisommesnous}">Qui sommes-nous</a>
							</li>
							<li><a href="contact.html" th:href="@{/contact}">Contact</a></li>
						</ul>
					</div>
					<!-- Nav List -->

					<!-- Responsive Buttun -->
					<a class="navbar-btn collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"><i class="fa fa-bars"></i></a>
					<!-- Responsive Buttun -->

				</div>
			</nav>
			<!-- Nav -->



			<!-- Inner Banner -->
			<div class="inner-banner parallax-window" data-parallax="scroll" data-image-src="">
				<div class="main-heading-holder">
					<div class="main-heading gray-color p-0">
						<h2><em>Vidéoconférence</em><span>V</span></h2>
						<span class="sperater">
							<i></i>
							<i class="active"></i>
							<i></i>
						</span>
						<div class="tc-breadcrumb">
							<ul>
								<li>Acceuil</li>
								<li><a href="#">Publication</a></li>
								<li><a href="#">Vidéoconférence </a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- Inner Banner -->

		</header>
	<!-- Header -->

	<!-- main Content -->
	<main class="main-content">

		<!-- Event Detail -->
		<div class="white-bg">
		  <div class="container">
			<div style="width: 100%">
			<!-- <table width="100%">
				<tr>
					<td class="font-lato"><h3>Titre: Reussir vos examens</h3></td>
					<td><h3 align="right">845 vues</h3></td>
					<td width="5%"></td>
					<td class="font-lato" width="30%"><h3>Chat:</h3></td>
				</tr>
				<tr>
					    
    					<div id="twitch-embed"></div>
				</tr>
				<tr>
					<td colspan="3" align="right" valign="bottom">
					<h4>Par: Bernardo</h3>
					</td>
					<td align="right">
						<br>
						<button type="submit" class="btn form-btn" style="align:right">suivre</button>
					</td>
				</tr>
			</table> -->
			<div class="container">
				<div class="col-md-12">
				<div class="col-md-6"><h3>Titre: Reussir vos examens</h3></div>
				<div class="col-md-offset-1 col-md-2"><h3>845 vues</h3></div>
				
				</div>
				<div class="col-md-12" id="twitch-embed"></div>
			</div>
			
			</div>	
			</div>


					
	  </div>

</main>
		<!-- Event Detail -->
		<div class="white-bg">
			<div class="container">
				<br>
				<h2>documents PartagÉs</h2>
				<br>
			</div>


		<!-- Lastest news -->
		<section class="lastest-news style-2">
			<div class="container font-lato">
					<table width="100%" border="1">
					<tr>
					<td>
					<table align="center" width="95%">
					  <tr>
						<td><br>
						<h2><img th:src="@{/images/document.png}"><link rel="import" href="/path/to/imports/stuff.html"></h2></td>
						<td><br><h2><img th:src="@{/images/document.png}"><link rel="import" href="/path/to/imports/stuff.html"></h2></td>
						<td><br><h2><img th:src="@{/images/document.png}"><link rel="import" href="/path/to/imports/stuff.html"></h2></td>
					  </tr>
					  <tr>
						<td>
							<table width="100%">
								<tr>
									<td><b>Aide.pdf</b> </td>
								</tr>
								<tr>
									<td width="60%"><p>29 Mo</p> </td>
								</tr>
							</table>
							
						</td>
						<td>
							<table width="100%">
								<tr>
									<td><b>Aide.pdf</b> </td>
								</tr>
								<tr>
									<td width="60%"><p>29 Mo</p></td>
								</tr>
							</table>
						</td>
						<td>
							<table width="100%">
								<tr>
									<td><b>Aide.pdf</b> </td>
								</tr>
								<tr>
									<td width="60%"><p>29 Mo</p></td>
								</tr>
							</table>
						</td>
					  </tr>
					</table>
					</td>
					</tr>
				</table>

			  <!-- Lastest news Columns -->

			</div>
					<br>
					<br>
		</section>
		<!-- Lastest news -->
		</div>
		<!-- Event Detail -->

		<!-- Event Detail -->
		<div class="white-bg">
			<div class="container">
				<br>
			  <h2>Commentaires</h2>
				<table width="100%" height="10%">
					<tr>
						<td>
							<textarea id="textarea"  name="comments" placeholder="commentaires"></textarea>
						</td>
				  </tr>
				  
				</table>
				<br>
			</div>

		</div>
		<br>
		
	    
	<!-- main Content -->

		<!-- Footer -->
		<div class="footer tc-padding-top">

			<!-- Newslatter Nd Columns -->
			<div class="container">



				<!-- Footer Columns -->
				<div>
					<div class="row">

						<!-- Column -->
						<div class="col-sm-5">
							<div class="footer-c-widget logo-widget p-white">
								<img src="../static/images/footer-logo.png"  th:src="@{/images/footer-logo.png}" alt="image ExprimU footer">
								<p align="justify">Exprim-U réalise un projet qui servira en premier lieu aux étudiants ou les universités qui
									ont peu de ressources afin de suivre des cours proposés par des professeurs bénévoles qui souhaitent améliorer
									l'aspect éducatif.</p>
								<div class="social-icons">
									<ul>
										<li><a class="fa fa-facebook" href="#"></a></li>
										<li><a class="fa fa-instagram" href="#"></a></li>
										<li><a class="fa fa-google-plus" href="#"></a></li>
										<li><a class="fa fa-twitter" href="#"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<!-- Column -->
						<div class="col-sm-1">
						</div>


						<!-- Column -->
						<div class="col-sm-2">
							<div class="footer-c-widget h-white list-widget">
								<h3>SITEMAP</h3>
								<ul>
									<li><a th:href="@{/index}">Accueil</a></li>
									<li><a th:href="@{/index#actualite}">Actualité</a></li>
									<li><a th:href="@{/publication}">Publications</a></li>
									<li><a th:href="@{/quisommesnous}">Qui sommes-nous</a></li>
									<li><a th:href="@{/contact}">Contact</a></li>
								</ul>
							</div>
						</div>
						<!-- Column -->

						<!-- Column -->
						<div class="col-sm-4">
							<div class="footer-c-widget h-white address-list">
								<h3>Contact</h3>
								<ul>
									<li><i class="fa fa-map-marker"></i>Pole Université de Vichy</li>
									<li><i class="fa fa-mobile"></i>++ 33 6 28 75 86 78</li>
									<li><i class="fa fa-envelope-o"></i>projet.exprimu18@gmail.com</li>
								</ul>
							</div>
						</div>
						<!-- Column -->

					</div>
				</div>
				<!-- Footer Columns -->

			</div>
			<!-- Newslatter Nd Columns -->



			<!-- Sub Footer -->
			<div class="sub-footer p-white text-center">
				<p>© Copyright 2019. Tous droits réservés.</p>
			</div>
			<!-- Sub Footer -->

		</div>
		<!-- Footer -->

</div>
<!-- Wrapper -->

<!-- Java Script -->
	<script src="../static/js/vendor/jquery.js" th:src=@{/js/vendor/jquery.js} ></script>
	<script src="../static/js/vendor/bootstrap.min.js" th:src=@{/js/vendor/bootstrap.min.js}></script>
	<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
	<script src="../static/js/gmap3.min.js" th:src=@{/js/gmap3.min.js}></script>
	<script src="../static/js/datepicker.js" th:src=@{/js/datepicker.js}></script>
	<script src="../static/js/contact-form.js" th:src=@{/js/contact-form.js}></script>
	<script src="../static/js/parallax.js" th:src=@{/js/parallax.js}></script>
	<script src="../static/js/countdown.js" th:src=@{/js/countdown.js}></script>
	<script src="../static/js/countTo.js" th:src=@{/js/countTo.js}></script>
	<script src="../static/js/owl-carousel.js" th:src=@{/js/owl-carousel.js}></script>
	<script src="../static/js/appear.js" th:src=@{/js/appear.js}></script>
	<script src="../static/js/sticky.js" th:src=@{/js/sticky.js}></script>
	<script src="../static/js/prettyPhoto.js" th:src=@{/js/prettyPhoto.js}></script>
	<script src="../static/js/isotope.pkgd.js" th:src=@{/js/isotope.pkgd.js}></script>
	<script src="../static/js/wow-min.js" th:src=@{/js/wow-min.js}></script>
	<script src="../static/js/main.js" th:src=@{/js/main.js}></script>
	
	<!-- Load the Twitch embed script -->
    <script src="https://embed.twitch.tv/embed/v1.js"></script>
    
    <!-- Script pour popover profil-->
	<script>
		$("[data-toggle=popovers]").each(function (i, obj) {

			$(this).popover({
				html: true,
				content: function () {
					var id = $(this).attr('id')
					return $('#popover-' + id).html();
				}
			});

		});
		
		<!-- Create a Twitch.Embed object that will render within the "twitch-embed" root element. -->
		new Twitch.Embed("twitch-embed", {
	        width: 854,
	        height: 480,
	        channel: "mastersippe"
	      });
		
	</script>
	<!-- End Script pour popover profil & Twitch.Embed--->  	
			
</body>


</html>